.btn {
  font-size: 12px;
  @include transition(background 0.1s ease);
  padding: 5px 19px 6px 18px;

  &:focus {
    outline: none;
  }

  &-lg {
    font-weight: bold;
    font-size: 16px;
    padding: 11px 16px;
  }

  &-sm {
    border-radius: 4px;
    padding: 5px 13px;
  }

  &-link {
    color: #38b7e7;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #55cbf7;
    }

    &:active,
    &.active {
      color: #3d8dac;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      color: #cccccc;
    }
  }

  &-default {

    &:hover,
    &:focus {
      
    }

    &:active,
    &.active,
    .open &.dropdown-toggle {
      @include box-shadow(none);
      background-color: #adadad;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &,
    &.disabled:hover,
    &[disabled]:hover,
    fieldset[disabled] &:hover,
    &.disabled:focus,
    &[disabled]:focus,
    fieldset[disabled] &:focus,
    &.disabled:active,
    &[disabled]:active,
    fieldset[disabled] &:active,
    &.disabled.active,
    &[disabled].active,
    fieldset[disabled] &.active {

    }
  }

  &-primary {
    background-color: #38b7e7;
    border-color: #3d8dac;

    &:hover,
    &:focus {
      background-color: #55cbf7;
    }

    &:active,
    &.active,
    .open &.dropdown-toggle {
      background-color: #3d8dac;
      @include box-shadow(none);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &,
    &.disabled:hover,
    &[disabled]:hover,
    fieldset[disabled] &:hover,
    &.disabled:focus,
    &[disabled]:focus,
    fieldset[disabled] &:focus,
    &.disabled:active,
    &[disabled]:active,
    fieldset[disabled] &:active,
    &.disabled.active,
    &[disabled].active,
    fieldset[disabled] &.active {
      color: #cccccc;
      background-color: #eeeeee;
      border-color: #cccccc;
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include opacity(1);
    filter: none;
  }
}