.form-control {
  @include box-shadow(inset 0 1px 1px rgba(0, 1, 1, 0.08));
  height: 38px;

  &:focus {
    border-color: #77baed;
    @include box-shadow('inset 0 1px 1px rgba(0, 1, 1, 0.08), 0 0 5px rgba(119, 186, 237, 0.36)');
  }
}