.form-horizontal {
  label {
    color: #474949;
  }

  .control-label {
    text-align: left;
  }
}

.form__title {
  font-size: 18px;
  padding: 0 15px;
}

.form__line {
  border-top: 1px solid #dddddd;
}