.form-signin {
  background-color: #ffffff;
  max-width: 320px;
  padding: 28px 40px 42px;
  margin: 113px auto 24px auto;
  @include box-shadow(0 2px 3px rgba(#000000, 0.1));
  border-radius: 4px;

  &__logo {
    img {

    }
  }

  &__label {
    color: #333333;
    margin: 27px 0 0 0;
  }

  &__desc {
    color: #474949;
    line-height: 1.25;
    margin: 22px 0 -3px 0;
  }

  .form-group {
    margin: 24px 0 0 0;
  }

  .checkbox {
    top: 3px;
  }

  .btn + .btn {
    margin: 14px 0 0 0;
  }

  .btn + .btn-lg {
    margin: 6px 0 0 0;
  }
}