// Vertical input-group
.input-group {
  &_vertical {
    .form-control {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      position: relative;

      + .form-control {
        margin-top: -1px;
      }

      &:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:focus {
        z-index: 2;
      }
    }
  }
}