.select {
  width: 100%;

  &.btn-group {
    > .btn-default + .dropdown-toggle,
    > .btn-default + .dropdown-toggle:hover,
    > .btn-default + .dropdown-toggle:focus,
    > .btn-default + .dropdown-toggle:active,
    > .btn-default + .dropdown-toggle.active,
    > .btn-default + .open .dropdown-toggle {
      background-color: #ebebeb;
      border-color: #adadad;
      padding-right: 8px;
      padding-left: 8px;
      min-width: 0;
    }

    .btn:last-child:not(:first-child),
    .dropdown-toggle:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .btn {
      text-align: left;
      font-size: 14px;
      padding: 7px 26px 9px 12px;

      .caret {
        position: absolute;
        top: 50%;
        right: 12px;
        margin-top: -2px;
      }

      &-sm {
        font-family: 'OpenSans-Semibold', Arial, sans-serif;
        font-size: 12px;
        border-radius: 4px;
        padding: 5px 12px;
        min-width: 101px;

        + .dropdown-menu {
          font-size: 12px;

          > li > a {
            padding: 3px 12px;
          }
        }
      }
    }

    .btn-default {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: #ffffff;
      }
    }

    &.open .btn-default.dropdown-toggle {
      background-color: #ffffff;
    }

    .dropdown-menu {
      min-width: 0;
      width: 100%;
      max-height: 220px;
      overflow: auto;
    }
  }

  &_inline {
    width: auto;

    &.btn-group {
      .btn {
        .caret {
          position: relative;
          top: 0;
          right: 0;
          margin-top: 0;
        }
      }
    }
  }

  &_empty {
    .btn-default,
    &.open .btn-default.dropdown-toggle {
      color: #999999;
    }
  }
}