.tags {
  width: 100%;

  &.btn-group {
    .btn {
      text-align: left;
      padding: 4px 30px 0 4px;
      white-space: normal;

      .caret {
        position: absolute;
        top: 50%;
        right: 12px;
        margin-top: -2px;
      }
    }

    .btn-default {
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: #ffffff;
      }
    }

    &.open .btn-default.dropdown-toggle {
      background-color: #ffffff;
    }

    .dropdown-menu {
      min-width: 0;
      width: 100%;
    }
  }

  &__placeholder {
    font-size: 14px;
    color: #999999;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    margin: 3px 0 9px 8px;
    float: left;
  }
}

.tag {
  display: inline-block;
  float: left;
  white-space: nowrap;
  padding: 2px 25px 4px 7px;
  color: #474949;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ebebeb;
  position: relative;
  overflow: hidden;
  margin: 0 4px 4px 0;
  max-width: 100%;
  text-overflow: ellipsis;

  &__close {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: 1;
    color: #adadad;

    &:hover {
      color: #474949;
    }
  }
}
