﻿@using TjSnow.Web.Models
@model FrontViewModel
<div class="list">
    <select class="intro-select-ie sel_category">
        <option>Select category</option>
        @foreach (var item in Model.categories.OrderBy(c=>c.Name))
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>
