﻿.machinepreviewimage {

    height: 140px;
    width: 140px;
    margin: 18px 18px 7px 0px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: move !important;
}

.publishlabel {
    font-weight: 500;
}

.machinepreviewimagecontainer {
    padding-right: 5%;
}

.machinepreviewvideocontainer {
    padding-right: 5%;
}

.filename {
    font-size: 12px;
    color: #999999;
}

.machinepreviewvideo {

    height: 140px;
    width: 140px;
    margin: 18px 18px 7px 0px;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    
}

.buttonrow {
    margin-right: 15px;
    margin-left: -30px;
}