/* Space out content a bit */
body {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 990px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 10px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.user-info {
    margin-top: 16px;
}

.breadcrumb {
    border-radius: 0;
}

.breadcrumb .add-machine {
    background: #5fb660 url('images/add-machine-btn.png') no-repeat 7px 50%;
    border: 1px solid #50ad51;
    padding: 8px 10px 8px 40px;
    color: #fff;
    font-size: 0.9em;
    top: -1px;
}

.breadcrumb .grid-view {
    background: #38b7e7;
    border: 1px solid #38b7e7;
    padding: 8px 10px 8px 10px;
    color: #fff;
    font-size: 0.9em;
    top: -1px; 
}

.breadcrumb .search {
    background: #375a7f;
    border: 1px solid #375a7f;
    padding: 8px 10px 8px 10px;
    color: #fff;
    font-size: 0.9em;
    top: -1px; 
}

.breadcrumb .search i {
    padding-right: 10px;
}

.breadcrumb .grid-view i {
    padding-right: 10px;
}

.breadcrumb .pull-right {
    margin-top: -1px;
    margin-right: -15px;
}

.breadcrumb .pull-right:before {
    content: none;
}

div.dataTables_filter input {
    height: 30px;
    margin-left: 0.5em;
}