﻿.savemessage {
    height: 50px;
    text-align: center;
}

.datepickerbutton {
    height: 38px;
}

.datepickercontainer {
    margin-left: -15px;
}

.expandarrowcontainer {
  width: 16px;
  padding-top: 8px;
}

.expander-image {
    width: 16px !important;
}


