﻿.resultpadding {
    padding-right: 2.5%;
}

.machinesfound {
    color: #999999;
    margin-bottom: 18px;
}

.sortpanellabel {
    font-size: 12px;
}

.sortpanelbtn {
    max-height: 29px;
    margin-bottom: 9px !important;
    font-size: 12px !important;
    font-family: 'Open Sans' !important;
    padding-top: 3px !important;
}

.norightmargin {
    margin-right: 0px;
}

.searchborder {
    border-width: 5px;
}

.searchpanel {
    border-width: 5px;
    padding-right: 22.5px;
    padding-left: 22.5px;
}

.searchpanel:focus {
    outline: 0;
}

.searchpanel .numeric {
    text-align: right;
    max-width: 177px;
}

.searchfieldlabel {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

.searchfield {
    max-width: 177px;
}

.nopaddingleft {
    padding-left: 0px;
}

.statuscolumn {
    margin-top: 10px;
}

.searchpanel .btn-action { margin-left: 30px; margin-top: 18px; width: 85px; height: 30px; font-size: 14px; font-weight: bold; padding: 0; }
.searchpanel .btn-action.btn-link { border: #38b7e7 2px solid; -ms-border-radius: 4px; border-radius: 4px }

.searchpanel .btn-action.btn-link:hover { border: #55cbf7 2px solid; }

.machineimage {
    height: 140px;
    width: 140px;
    margin: 18px 18px 8px 0;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
}

.publicviewlabel {
    font-weight: bold;
    font-size: 14px;
    color: #38b7e7;
    cursor: pointer;
    margin-left: 32px;
}

.categorylabel {
    font-weight: bold;
    font-size: 12px;
    color: #38b7e7;
    margin-top: 22px;
    margin-bottom: 1px;
    cursor: pointer;
}

.categorylabel span:after {
    content: "\00a0\00a0\00a0\00a0";
}

.machinenamelabel {
    font-weight: bold;
    font-size: 18px;
    color: #38b7e7;
    cursor: pointer;
}

.stocknumberlabel {
}

.machineparamdelimiter {
    color: #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
}

.machineparam {
    font-size: 14px;
    font-weight: normal;
}

.machinedescription {
    font-size: 12px;
    color: rgb(153,153,153);
    margin-bottom: 15px;
}

.statusdescriptioncontainer {
    margin-bottom: 15px;
}

.statusdescriptionlabel {
    font-size: 12px;
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    max-width: 100px;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    min-width: 100px;
    height: 30px;
    margin-top: 15px;
}

.searchmachineresultcell {
    border-bottom: 1px solid #dddddd;
}

.rightaddon {
    background-color: transparent;
    border-left-style: none;
}

.leftaddon {
    background-color: transparent;
    border-right-style: none;
}

.searchkeywords {
    border-left-style: none;
    border-right-style: none;
}

.searchkeywordscontainer {
    margin-top: 15px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #38b7e7 !important;
    cursor: default !important;
    background-color: #dddddd !important;
    border-color: #dddddd !important;
}

.centeringcontainer {
    text-align: center;
}

.find-message-visible {
    display: inline !important;
    margin-top: 15px;
}

.find-message-invisible {
    display: none;
}
