﻿<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-QD8LGBRCK1');
</script>
<script async src=https://www.googletagmanager.com/gtag/js?id=G-QD8LGBRCK1></script>