﻿<ng-include src="'/Scripts/app/breadcrumbs.html'"></ng-include>

<div class="row row-filter">
    <div class="col-sm-2">
        <dropdown items="publishedStates" ng-model="filter.uipublished" btn-class="btn-default btn-block"></dropdown>
    </div>
    <div class="col-sm-1">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="filterAvailable" ng-model="filter.uiavailable"> available
                <label for="filterAvailable"></label>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="filterSold" ng-model="filter.uisold"> sold
                <label for="filterSold"></label>
            </label>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="filterScrapped" ng-model="filter.uiscrapped"> scrapped
                <label for="filterScrapped"></label>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="filterRented" ng-model="filter.uirented"> rented
                <label for="filterRented"></label>
            </label>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="filterConsigned" ng-model="filter.uiconsigned"> consigned
                <label for="filterConsigned"></label>
            </label>
        </div>
    </div>
    <div class="col-sm-3">
        <tags-dropdown items="voltages" ng-model="filter.uivoltages" btn-class="btn-default btn-block" placeholder="All voltages" alt-placeholder="Select another voltage"></tags-dropdown>
    </div>
    <div class="col-sm-3">
        <dropdown style="padding-top: 10px" items="phases" ng-model="filter.uiphase" btn-class="btn-default btn-block"></dropdown>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" ng-click="applyFilter()">Apply</button>
    </div>
    <div class="col-sm-4" style="padding-top: 10px; padding-bottom: 10px">
        <div class="col-sm-2 nopaddingleft">
            <span>KVA Between</span>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control numeric" nks-only-number decimal-upto="3" allow-negative="false" ng-model="filter.uiminkva">
        </div>
        <span class="col-sm-2" style="line-height: 38px">and</span>
        <div class="col-sm-4">
            <input type="text" class="form-control numeric" nks-only-number decimal-upto="3" allow-negative="false" ng-model="filter.uimaxkva">
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="table-wrapper">
    <table id="table-machines" datatable="ng" class="table table-striped" dt-options="dtOptions" style="width:7300px !important">
        <thead>
            <tr>
                <th style="width: 200px;">Name</th>
                <th style="width: 120px;">Stock Number</th>
                <th style="width:130px">Status</th>
                <th style="width: 500px; ">Categories</th>
                <th style="width: 500px;">Web Description</th>
                <th style="width: 300px;">UED File Path</th>
                <th style="width: 80px;">KVA</th>
                <th style="width: 80px;">Voltage</th>
                <th style="width: 80px;">Phase</th>
                <th style="width: 150px;">Throat Depth</th>
                <th style="width: 150px;">Secondary Amps</th>
                <th style="width: 150px;">Secondary Volts</th>
                <th style="width: 200px;">Manufacturer</th>
                <th style="width: 120px;">Model</th>
                <th style="width: 120px;">Serial</th>
                <th style="width: 120px;">Initiation</th>
                <th style="width: 80px;">Fast ship</th>
                <th style="width: 80px;">Air Type</th>
                <th style="width: 150px;">Cylinder Diameter</th>
                <th style="width: 150px;">Cylinder Stroke</th>
                <th style="width: 150px;">Max Force</th>
                <th style="width: 150px;">Tap Switch</th>
                <th style="width: 150px;">Arm Dia Lower</th>
                <th style="width: 150px;">Arm Dia Upper</th>
                <th style="width: 150px;">Holder Diameter</th>
                <th style="width: 150px;">Platen Upper</th>
                <th style="width: 150px;">Platen Lower</th>
                <th style="width: 150px;">TSlot Spacing</th>
                <th style="width: 80px;">Control</th>
                <th style="width: 80px;">Service</th>
                <th style="width: 150px;">Head Type</th>
                <th style="width: 150px;">Upper Drive</th>
                <th style="width: 150px;">Lower Drive</th>
                <th style="width: 150px;">Wheel Upper</th>
                <th style="width: 150px;">Wheel Lower</th>
                <th style="width: 300px;">Internal Notes</th>
                <th style="width: 150px;">Transformer</th>
                <th style="width: 150px;">Purchased Date</th>
                <th style="width: 150px;">Entered Date</th>
                <th style="width: 150px;">Purchased From</th>
                <th style="width: 150px;">Condition</th>
                <th style="width: 80px;">Cost</th>
                <th style="width: 80px;">Freight</th>
                <th style="width: 300px;">Features</th>
                <th style="width: 80px;">Location</th>
                <th style="width: 150px;">CheckedBy</th>
                <th style="width: 80px;">Price</th>
                <th style="width: 80px;">SoldTo</th>
                <th style="width: 150px;">Date Sold</th>
                <th style="width: 280px;">Exclude from reconciliation</th>
                <th style="width: 150px;">P21 Item Id</th>
                <th>Published To Web</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in machines  | filter:filterData" on-last-repeat>
                <td style="width: 200px;">{{m.name}}</td>
                <td style="width: 120px;"><a ng-href="{{'/admin/editmachine/'+m.id}}" target="_blank">{{m.stocknumber}}</a></td>
                <td style="width:130px">{{m.status | status}}</td>
                <td style="width: 500px;">{{m.categories | categories}}</td>
                <td style="width: 500px;word-wrap: break-word">{{m.webdescription|maxCharacters:150}}</td>
                <td style="width:300px"><a ng-href="tjsnowfilehandler://{{m.uedfilepath}}">{{m.uedfilepath}}</a></td>
                <!--<td style="width:300px"><a onclick="window.open('file://{{m.uedfilepath}}')">{{m.uedfilepath}}</a></td>-->
                <td style="width:80px">{{m.kva}}</td>
                <td style="width:80px">{{m.voltage | voltage:voltages}}</td>
                <td style="width:80px">{{m.phase | phase:phases}}</td>
                <td style="width: 150px">{{m.throatdepth}}</td>
                <td style="width: 150px">{{m.secamps}}</td>
                <td style="width: 150px">{{m.secvolts}}</td>
                <td style="width:200px">{{m.manufacturer}}</td>
                <td style="width:120px">{{m.model}}</td>
                <td style="width:120px">{{m.serial}}</td>
                <td style="width:120px">{{m.initiationdescription}}</td>
                <td style="width: 80px;">{{m.fastship|boolToWord}}</td>
                <td style="width: 80px;">{{m.airtype}}</td>
                <td style="width: 150px;">{{m.cylinderdiameter}}</td>
                <td style="width: 150px;">{{m.cylinderstroke}}</td>
                <td style="width: 150px;">{{m.maxforce}}</td>
                <td style="width: 150px;">{{m.tapswitch}}</td>
                <td style="width: 150px;">{{m.armdialower}}</td>
                <td style="width: 150px;">{{m.armdiaupper}}</td>
                <td style="width: 150px;">{{m.holderdiameter}}</td>
                <td style="width: 150px;">{{m.platenupper}}</td>
                <td style="width: 150px;">{{m.platenlower}}</td>
                <td style="width: 150px;">{{m.tslotspacing}}</td>
                <td style="width: 80px;">{{m.control}}</td>
                <td style="width: 80px;">{{m.service}}</td>
                <td style="width: 150px;">{{m.headtype}}</td>
                <td style="width: 150px;">{{m.upperdrive}}</td>
                <td style="width: 150px;">{{m.lowerdrive}}</td>
                <td style="width: 150px;">{{m.wheelupper}}</td>
                <td style="width: 150px;">{{m.wheellower}}</td>
                <td style="width: 300px;">{{m.internalnotes|maxCharacters:150}}</td>
                <td style="width: 150px;">{{m.transformer}}</td>
                <td style="width: 150px;">{{m.purchaseddate | date:'mediumDate'}}</td>
                <td style="width: 150px;">{{m.entereddate | date:'mediumDate'}}</td>
                <td style="width: 150px;">{{m.purchasedfrom}}</td>
                <td style="width: 150px;">{{m.conditiondescription}}</td>
                <td style="width: 80px;">{{m.cost}}</td>
                <td style="width: 80px;">{{m.freight}}</td>
                <td style="width: 300px;">{{m.feautures|maxCharacters:150}}</td>
                <td style="width: 80px;">{{m.locationname}}</td>
                <td style="width: 150px;">{{m.checkedby}}</td>
                <td style="width: 80px;">{{m.price}}</td>
                <td style="width: 80px;">{{m.soldto}}</td>
                <td style="width: 150px;">{{m.datesold | date:'mediumDate'}}</td>
                <td style="width: 280px; ">{{m.excludefromreconciliation|boolToWord}}</td>
                <td style="width: 150px;"><a href="{{m.p21itemid}}">{{m.p21itemid}}</a></td>
                <td>{{m.publishedtoweb|boolToWord}}</td>
            </tr>
        </tbody>

        <tfoot id="tableFooter">
            <tr>
                <th style="width: 200px;">Name</th>
                <th style="width: 120px;">Stock Number</th>
                <th style="width:130px">Status</th>
                <th style="width: 500px;">Categories</th>
                <th style="width: 500px;">Web Description</th>
                <th style="width: 300px;">UED File Path</th>
                <th style="width: 80px;">KVA</th>
                <th style="width: 80px;">Voltage</th>
                <th style="width: 80px;">Phase</th>
                <th style="width: 150px;">Throat Depth</th>
                <th style="width: 150px;">Secondary Amps</th>
                <th style="width: 150px;">Secondary Volts</th>
                <th style="width: 200px;">Manufacturer</th>
                <th style="width: 120px;">Model</th>
                <th style="width: 120px;">Serial</th>
                <th style="width: 120px;">Initiation</th>
                <th style="width: 80px;">Fast ship</th>
                <th style="width: 80px;">Air Type</th>
                <th style="width: 150px;">Cylinder Diameter</th>
                <th style="width: 150px;">Cylinder Stroke</th>
                <th style="width: 150px;">Max Force</th>
                <th style="width: 150px;">Tap Switch</th>
                <th style="width: 150px;">Arm Dia Lower</th>
                <th style="width: 150px;">Arm Dia Upper</th>
                <th style="width: 150px;">Holder Diameter</th>
                <th style="width: 150px;">Platen Upper</th>
                <th style="width: 150px;">Platen Lower</th>
                <th style="width: 150px;">TSlot Spacing</th>
                <th style="width: 80px;">Control</th>
                <th style="width: 80px;">Service</th>
                <th style="width: 150px;">Head Type</th>
                <th style="width: 150px;">Upper Drive</th>
                <th style="width: 150px;">Lower Drive</th>
                <th style="width: 150px;">Wheel Upper</th>
                <th style="width: 150px;">Wheel Lower</th>
                <th style="width: 300px;">Internal Notes</th>
                <th style="width: 150px;">Transformer</th>
                <th style="width: 150px;">Purchased Date</th>
                <th style="width: 150px;">Entered Date</th>
                <th style="width: 150px;">Purchased From</th>
                <th style="width: 150px;">Condition</th>
                <th style="width: 80px;">Cost</th>
                <th style="width: 80px;">Freight</th>
                <th style="width: 300px;">Features</th>
                <th style="width: 80px;">Location</th>
                <th style="width: 150px;">CheckedBy</th>
                <th style="width: 80px;">Price</th>
                <th style="width: 80px;">SoldTo</th>
                <th style="width: 150px;">Date Sold</th>
                <th style="width: 280px;">Exclude from reconciliation</th>
                <th style="width: 150px;">P21 Item Id</th>
                <th>Published To Web</th>
        </tfoot>

    </table>
</div>