﻿<div>
    <!-- CONTENT
    =================================-->
    <div class="content-top">
        <div class="container">
            <div class="row">
                <div class="content-wrapper clearfix">
                    <div class="col-lg-12 col-sm-12 content-column">
                        <!-- CONTENT -->
                        <div class="breadcrumbs-catalog clearfix">
                            <div class="breadcrumbs">
                                <ul>
                                    <li class="first"><a href="index.html">Home →</a></li>
                                    <li class=""><a href="#">Category name →</a></li>
                                    <li class="active"><a href="#">{{model.machine.name}}</a></li>
                                </ul>
                            </div>
                            <div class="tabs">
                                <a href="#">Return to search</a>
                                <a href="machinery.html">View category</a>
                                <a href="#">Share page</a>
                            </div>
                        </div>
                        <div class="machine-detail">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 details-left">
                                    <div class="main-image">
                                        <img src="/Content/images/content/machine-big.jpg" />
                                    </div>
                                    <div class="main-image-desc">
                                        Additional photos (click for larger image)
                                    </div>
                                    <div class="carousel">
                                        <div class="jcarousel-wrapper">
                                            <div class="jcarousel" data-jcarousel="true">
                                                <ul>
                                                    <li ng-repeat="image in model.machine.images"><a href="#"><img ng-src="{{image.url}}" alt="Image {{$index}}"></a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                                            <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 details-right">
                                    <div class="block-title shadow">
                                        Machine Specifications
                                    </div>
                                    <table class="specs">
                                        <tr class="odd">
                                            <td class="labeled"><div class="inner">Transformer:</div></td>
                                            <td><div class="inner">{{model.machine.kva}} KVA</div></td>
                                        </tr>
                                        <tr class="even">
                                            <td class="labeled"><div class="inner">Mfg. Model No.:</div></td>
                                            <td><div class="inner">{{model.machine.model}}</div></td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="labeled"><div class="inner">Voltage:</div></td>
                                            <td><div class="inner">{{model.machine.voltagedescription}} Volts, {{model.machine.phasedescription}} Phase, Hz</div></td>
                                        </tr>
                                        <tr class="even">
                                            <td class="labeled"><div class="inner">Throat Depth:</div></td>
                                            <td><div class="inner">{{model.machine.throatdepth}}"</div></td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="labeled"><div class="inner">Secondary Volts:</div></td>
                                            <td><div class="inner">{{model.machine.secvolts}}</div></td>
                                        </tr>
                                        <tr class="even">
                                            <td class="labeled"><div class="inner">Secondary Amps:</div></td>
                                            <td><div class="inner">{{model.machine.secamps}}</div></td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="labeled"><div class="inner">Air Type:</div></td>
                                            <td><div class="inner">{{model.machine.airtype}}</div></td>
                                        </tr>
                                        <tr class="even">
                                            <td class="labeled"><div class="inner">Cylinder Diameter:</div></td>
                                            <td><div class="inner">{{model.machine.cylinderdiameter}}"</div></td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="labeled"><div class="inner">Weld Force:</div></td>
                                            <td><div class="inner"> </div></td>
                                        </tr>
                                        <tr class="even">
                                            <td class="labeled"><div class="inner">Initiation:</div></td>
                                            <td><div class="inner">{{model.machine.initiationdescription}}</div></td>
                                        </tr>
                                        <tr class="odd">
                                            <td colspan="2" class="additional">
                                                <div class="inner">
                                                    <b>Additional Details:</b> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                                    <br /><br />
                                                    Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum.
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="request-quote clearfix">
                                        <div class="request-quote-header clearfix">
                                            <div class="header-left">Request quote!</div>
                                            <div class="header-right">Please use the form to submit a price request <br /> for this item.</div>
                                        </div>

                                        <div class="get-appl-form clearfix">
                                            <div class="row">
                                                <form name="form">
                                                    <div class="col-lg-8 col-sm-8">
                                                        <div class="left">
                                                            <input type="text" class="form-text" placeholder="First Name" ng-model="model.user.firstName" />
                                                            <input type="text" class="form-text even" placeholder="Last Name" ng-model="model.user.lastName" />
                                                            <input type="text" class="form-text " placeholder="Company" ng-model="model.user.company" required />
                                                            <input type="text" class="form-text even" placeholder="Phone" ng-model="model.user.phone" />
                                                            <input type="text" class="form-text " placeholder="Email" ng-model="model.user.email" required />
                                                            <input type="text" class="form-text even" placeholder="City" ng-model="model.user.city" required />
                                                            <textarea class="form-textarea" placeholder="Additional details" ng-model="model.user.message" required></textarea>
                                                            <div class="actions">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-4">
                                                        <input type="text" class="form-text" placeholder="Title" ng-model="model.user.title" />
                                                        <input type="text" class="form-text" placeholder="State" ng-model="model.user.state" required />
                                                        <div class="request-quote-desc">
                                                            You may also contact sales directly by calling <b>800-NOW-SNOW.</b> Reference item #5477 when you call.
                                                        </div>
                                                        <input type="submit" class="form-submit" ng-click="sendFeedback()" ng-disabled="isSending" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CONTENT
                        =================================-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 search-history">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3 ">
                            <div class="search-history-text">
                                <b>Search History</b><br />
                                These are some of
                                your recently
                                viewed items.
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-9" ng-show="recent.length>0">
                            <div class="carousel carousel-history">
                                <div class="jcarousel-wrapper">
                                    <div class="jcarousel" data-jcarousel="true">
                                        <ul>
                                            <li ng-repeat="item in recent"><a ng-href="/details/{{item.id}}"><img ng-src="{{item.url}}" alt="Image {{$index}}"></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
                                    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-title shadow">
                Other Recommendations In The @X#@X#@X# Category
            </div>
            <div class="view-catalog">
                <div class="row">
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 cell">
                        <div class="machine">
                            <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                            <div class="machine-title">Machine name here</div>
                            <div class="machine-details">
                                <div class="machine-detail"><label>Transformer:</label> 50 KVA</div>
                                <div class="machine-detail"><label>Model#:</label> PT1S-18-50</div>
                                <div class="machine-detail"><label>Voltage:</label> 60 Volts, Single Phase, 60 Hz.</div>
                            </div>
                            <div class="machine-more"><a href="details.html">View full details »</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT ============-->
</div>
