﻿@model TjSnow.Web.Models.ForgotPasswordViewModel

<section class="form-signin text-center">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-signin__logo">
            <img src="~/Content/images/form-signin_logo2.png" width="152" height="44" />
        </div>
        <h4 class="form-signin__label semibold">Forget Password?</h4>
        <p class="form-signin__desc">No worries! Just leave your e–mail address and we’ll send you a link to reset your password</p>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E–mail address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Send Link" class="btn btn-lg btn-info btn-block semibold" />
            @Html.ActionLink("Cancel", "Login/", null, new { @class = "btn btn-lg btn-link" })
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
