﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section class="form-signin text-center">
    <div class="form-signin__logo">
        <img src="~/Content/images/form-signin_logo2.png" width="152" height="44" />
    </div>
    <h4 class="form-signin__label semibold">Forgot password confirmation</h4>
    <img src="~/Content/images/email.png" style="padding: 20px" >
    <p>Link is successfully sent! Please check your email to reset your password</p>
</section>