﻿@using TjSnow.Web.Models
@model TjSnow.Web.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLoginAdmin.cshtml";
}


<section id="loginForm" class="form-signin text-center">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-signin__logo">
            <img src="~/Content/images/form-signin_logo2.png" width="152" height="44" style="max-width: 152px" />
        </div>
        <h4 class="form-signin__label semibold">Administrative Panel</h4>
        
        var errorMessage = ViewData.ModelState.Values.SelectMany(v => v.Errors.Select(e => e.ErrorMessage)).FirstOrDefault();
        if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert" style="margin-top: 27px">@errorMessage</div>
        }

        @*Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        
        <div class="form-group">
            <div class="input-group_vertical">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Username" })
                @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <div class="checkbox text-left">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-info btn-block semibold">Login</button>
            @*Enable this once you have account confirmation enabled for password reset functionality*@
            @Html.ActionLink("Forget password?", "ForgotPassword", null, new { @class = "btn btn-link" })
        </div>
        @*<p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>*@
    }
</section>

@*<div class="row">
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
