﻿@model TjSnow.Web.Models.ResetPasswordViewModel

<section class="form-signin text-center">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId, new { @data_val = "false" })
        @Html.HiddenFor(m => m.Code)
        
        <div class="form-signin__logo">
            <img src="~/Content/images/form-signin_logo2.png" width="152" height="44" />
        </div>
        <h4 class="form-signin__label semibold">Reset Password</h4>

        var errorMessage = ViewData.ModelState.Values.SelectMany(v => v.Errors.Select(e => e.ErrorMessage)).FirstOrDefault();
        if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert" style="margin-top: 27px">@errorMessage</div>
        }
        else
        {
            <p class="form-signin__desc">Your password must be reset. Please, enter and confirm a new password</p>
        }
        
        @*Html.ValidationSummary("", new { @class = "text-danger" })*@

        @*<div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>*@
        <div class="form-group">
            <div class="input-group_vertical">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "New password again" })
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Reset Password" class="btn btn-lg btn-info btn-block semibold" />
        </div>

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
