﻿<ng-include src="'/Scripts/app/breadcrumbs.html'"></ng-include>

<h3 class="title semibold text-center">Search Equipment</h3>

<form class="form-horizontal form-dashboard" ng-submit="doSearch()">

    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

    <div class="form-group">
        <label for="keywords" class="col-sm-2 control-label">Keywords</label>

        <div class="col-sm-10">
            <div class="left-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="searchrequest.keywords" class="form-control" id="keywords" name="keywords" placeholder="Anything related to equipment's name or description">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
            <tags-dropdown items="categories" ng-model="searchrequest.categories" btn-class="btn-default btn-block" placeholder="All categories" alt-placeholder="Select another category"></tags-dropdown>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Voltage</label>
        <div class="col-sm-10">
            <tags-dropdown items="voltages" ng-model="searchrequest.voltages" btn-class="btn-default btn-block" placeholder="All voltages" alt-placeholder="Select another voltage"></tags-dropdown>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">KVA</label>
        <div class="col-sm-10">
            <span class="col-sm-2 control-label between-label">Between</span>
            <div class="col-sm-3">
                <input type="text" class="form-control numeric" is-number ng-model="searchrequest.minkva">
            </div>
            <span class="col-sm-2 control-label">and</span>
            <div class="col-sm-3">
                <input type="text" class="form-control numeric" is-number ng-model="searchrequest.maxkva">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Phase</label>
        <div class="col-sm-5">
            <dropdown items="phases" ng-model="searchrequest.phase" btn-class="btn-default btn-block"></dropdown>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2 col-xs-6">
            <div class="checkbox text-left">
                <input id="includeSold" name="includeScrapped" type="checkbox" ng-model="searchrequest.includeSold">
                <label for="includeSold">Sold</label>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="checkbox checkbox-scrapped">
                <input id="includeScrapped" name="includeScrapped" type="checkbox" ng-model="searchrequest.includeScrapped">
                <label for="includeScrapped">Scrapped</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Published</label>
        <div class="col-sm-5">
            <dropdown items="publishedtowebstatuses" ng-model="searchrequest.publishedtowebstatus" btn-class="btn-default btn-block"></dropdown>
        </div>
    </div>

    <div class="form-group form-group-actions">
        <div class="col-sm-2 col-sm-offset-2 col-xs-6">
            <button class="btn btn-lg btn-primary" ng-disabled="inAction">Find equipment</button>            
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-xs-6">
            <button class="btn btn-lg btn-link pull-right" ng-click="clearAll($event)" ng-disabled="inAction">Clear all</button>
        </div>
    </div>
</form>

