﻿<ol class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
        <a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
        <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
    <li class="pull-right">
        <a href="admin" class="search"><i class="glyphicon glyphicon-search"></i>Search</a> 
        <a href="admin/grid-view" class="grid-view"><i class="glyphicon glyphicon-th"></i>Grid view</a> 
        <a href="admin/addmachine"class="add-machine">Add machine</a>
    </li>
</ol>
