﻿<div>
    <!-- CONTENT
    =================================-->
    <div class="content-top">
        <div class="container">
            <div class="row">
                <div class="content-wrapper clearfix">
                    <div class="col-lg-12 col-sm-12">
                        <!-- CONTENT -->
                        <div class="breadcrumbs-catalog clearfix">
                            <div class="breadcrumbs">
                                <ul>
                                    <li class="first"><a href="index.html">Home →</a></li>
                                    <li class="active"><a>{{categoryName}}</a></li>
                                </ul>
                            </div>
                            <div class="tabs">
                                <a href="#">Return to search</a>
                                <!--<a href="#">Share page</a>-->
                            </div>
                        </div>
                        <div class="catalog-page">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <div class="filters">
                                        <div class="category-title">
                                            <!--Category Name Goes Here-->
                                        </div>
                                        <div class="filters-order">
                                            <a ng-click="model.rows=false" ng-href="#" id="grid" class="switch grid"></a>
                                            <a ng-click="model.rows=true" ng-href="#"  id="rows" class="switch rows"></a>
                                        </div>
                                        <div class="filters-form" ng-disabled="isLoading">
                                            <label>Filter results:</label>
                                            <select class="form-select" ng-disabled="isLoading"><option>KVA</option></select>
                                            <select class="form-select" ng-disabled="isLoading"  ng-change="changeFilter()" ng-model="model.filters.voltage" ng-options="obj.label for obj in model.filters.voltages"><option value="">Voltage</option></select>
                                            <select class="form-select" ng-disabled="isLoading"  ng-change="changeFilter()" ng-model="model.filters.phase" ng-options="obj.label for obj in model.filters.phases"><option value="">Phase</option></select>
                                        </div>
                                    </div>
                                    <div class="view-catalog" ng-class="{rows:model.rows}">
                                        <div class="row" ng-repeat="rows in model.splitMachines">
                                            <div ng-repeat="col in rows" class="cell" ng-class="{'col-lg-2':!model.rows,'col-sm-2':!model.rows,'col-lg-12':model.rows,'col-sm-12':model.rows}">
                                                <div class="machine">
                                                    <div class="machine-image"><img src="/Content/images/content/machine1.jpg" /></div>
                                                    <div class="machine-title">{{col.Name}}</div>
                                                    <div class="machine-details">
                                                        <div class="machine-detail"><label>Transformer:</label> {{col.kva}} KVA</div>
                                                        <div class="machine-detail"><label>Model#:</label>{{col.model}}</div>
                                                        <div class="machine-detail"><label>Voltage:</label> {{col.voltagedescription}}.</div>
                                                    </div>
                                                    <div class="machine-more"><a ng-href="/details/{{col.id}}">View full details »</a></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pager" ng-show="model.splitMachines.length>0">
                                            <a ng-click=next(1) class="prev" ng-disabled="currentPage==1">&nbsp;</a>
                                            <a href="#" class="current">results page {{currentPage}} of {{totalPage}}</a>
                                            <a ng-click=next(-1) class="next" ng-disabled="currentPage==totalPage">&nbsp;</a>
                                        </div>
                                        <div ng-show="wasSearch&&model.splitMachines.length==0">No items found </div>
                                    </div>
                                </div>
                            </div>
                            <!-- CONTENT
                            =================================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
