/*iteration 20 */
@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
a{text-decoration:none;}
li{
	color:#3e3e3e; 
	font-size:13px;    
	list-style-position: inside;   
	line-height: 17px;
}
p{
	color:#3e3e3e; 
	font-size:14px; 
	font-family:'Open Sans';
}
img{ 
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
textarea{
	resize:none;
}
textarea, input, button, a{
	outline:none;
}
button{
	border:none; 
	background:none; 
	cursor:pointer;
}
body{
	background:#4d4d4d; 
	font-family:'Open Sans';
}
.wraper > div{
	width:1000px;; 
	margin:0 auto; 
	background:#fff; 
	min-width:1000px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
}
.title_mobile{
	display:none;
}
.top{
	padding:12px 18px 12px; 
	overflow:hidden;
}
.logo{
	float:left; 
	display:block; 
	margin: 2px 0px 0px 0px;
}


.info{
	float: right;
	width: 500px;
	margin: 0px 0px 0px 0px;
}

.content_white > .d-carousel{
	margin-left:0px;
}
.search{
	margin-top:40px;
	padding: 14px;
	border:2px solid #1493d4; 
	position:relative; 
	float:left;
	left: 40px;
	width:200px;
	border-radius: 28px;
	

}
.search input{
	width:170px; 
	border:none;
	height:25px;	
	color: black; 
	font:13px 'Open Sans'; 
	display:inline-block;
	vertical-align:top;
	

}
.search  button{	
	position:relative;	
	top:1px; 
	right:10px; 
	float:left;
	padding:5px 0px 6px;  
	width:25px; 
	text-align:center;
	

	
}
.list{
	margin-top:40px;
	padding:px;
	width:200px; 
	display:inline-block; 
	vertical-align:top; 
	float: right;
	height: 25px;
	
}

.list .ik_select_link_text {
	width: 106px;
}


.menu{
	/*background:#0094cc;*/
    background:#1493d4; 
	//box-shadow: 2px 10px 25px #888888;
	/*overflow: hidden;*/
}
.menu_wrap{ 
	padding:0;
	height: 90px;
	align-content:center;
	margin-left: auto;
	margin-right:auto;
	width: 72%;
	
}
.menu_wrap li{
	display: block;
	float: left;
	list-style:none;
}
.menu_wrap li a{
	font:600 24px 'Open Sans';
	color:#fff;  
	padding: 0px 12px 0px; 
	border-right:1px solid #fff;
	
	
}
.menu_wrap li:last-child a{
	border:none;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.menu_wrap li a:hover{
	color: #0d137b;
	transition: .3s;
	
}

.contents{
	padding:20px; 
	height: 510px;
	overflow:hidden;
	background-color:#fff;
	background-image: url('../images/photo/background_template_1.jpg');
	background-size: 1000px;
	
}

.this_is a{
	color: white;
	font-style: italic;
}

.this_is a:hover{
	color: #0d137b;
}


	.content > div{
	//background:#fff;    
	padding-bottom: 19px;
} 
.clear{
	clear:both; 
	width:100%;
}

.content_left{
	width:100%;
}
.this_is{
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	width:90%;
	text-align: left;
	
}
/*
.this_is img{
	margin:1px 16px 10px;
} */

h2{
	color: white; 
	text-font-size:21px; 
	font-weight:600; 
	margin-bottom:10px;
}
.this_is p{
	color: white;
	margin-bottom: 17px; 
	line-height: 17px;
	font-size: 14px;
	
}


label {
	display: inline-block;
	cursor:pointer;
	position: relative;
	top: 50px;
	color: #fff;
	background-color: #1493d4;
	padding: 1px 20px;
	border-radius: 20px;
	align-content:center;
	height: 40px;
	width: 200px;
	transition: .2s ease-out;
	left: 315px;
	text-align: center;
}

label:hover {
	background-color: transparent;
	border: 1px solid #1493d4;
	align-content: center;
	transition: .2s ease-in;
}


.tjs-info-container {
	background: #1493d4 !important;
	height: 500px;
	//box-shadow: 1px 2px 7px 2px rgba(210,215,211);
}

.tjs-info-container h2{
	text-align: center;
	
}

.tjs-col-md-4 {
	width: 180px;
	float: left;
	padding: 63px;
	padding-top: 1px;

}

.tjs-row{
	float:left;

}
.tjs-main{
	width:100%;
	min-height: 423px;
	text-align: center;
	position: relative;
	cursor: pointer;
	//float: left;
	
}

.tjs-service{
	margin-left: 4px;
	min-height: 250px;
	background: #fff;
	width: 200px;
	padding: 30px;
	border-radius: 10px;
	position: absolute;
	bottom:0;
	z-index: 1;
	box-shadow: 0 0 20px -15px #030380;
	transition: transform .8s;
}

.tjs-service li {
	text-align: left;
}

.service-logo{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: -90px auto 0;
	background: #fff;
	border: 10px solid #1493d4;
	//border: 10px solid black;
}

.service-logo img{
	width: 50px;
	margin-top: 25px;
}

.tjs-service h3{
	font-size: 20px;
	height: 30px;
	width:100%;
	background: #fff;
	margin: 2px 0px 20px 0px;
	position:relative;
}

.tjs-service h3::after{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #fff, #1493d4);
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: -1;
}

.tjs-service h3::before{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #1493d4, #fff);
	position: absolute;
	left: -5px;
	bottom: -5px;
	z-index: -1;
}


.ShadowOne{
	height: 200px;
	width:120%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 15%;
	//z-index: -;
	box-shadow: 0 0 40px -15px #030380;
	transition: transform .8s;
}

.ShadowTwo{
	height: 200px;
	width: 17%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 4.5%;
	z-index: -1;
	//box-shadow: 0 0 20px -15px #030380;
}

.tjs-main:hover .tjs-service{
	transform: translateY(-50px);
}

.tjs-main:hover .ShadowOne{
	transform: translateY(-25px);
}

.flip-card{
	background-color:transparent;
	width: 380px;
	height: 300px;
	display:block;
	border-radius: 30px;
	margin-left: 30px;
	margin-right:auto;
	
}

.flip-card h5{
	width: 50px;

}
.flip-card-inner{
	display: block;
}



.flip-card-front, .flip-card-back {
	top: 40px;
	height: 200px;
	width: 150px;
	float: left;
	position: relative;
	border-radius: 20px;
	
	
}

.flip-card-front img{
	margin-right: auto;
	margin-left: 15%;
	width: 100px;
}

.flip-card-back img{
	marign-right: auto;
	margin-left: 20%;
	width: 85px;
}

.flip-card-front{
	background-color: white;
	color:white;
	align-content: center;
}

.arrow_img {
	position: relative;
	margin-top: 110px;
	right: 130px;
	width: 60px;
}


.flip-card-back{
	background-color: white;
	color:white;
	align-content: center;
	left: 100px;
	
}

.info-cards{
	background: #1493d4;
	height: 500px;
	box-shadow: 1px 2px 7px 2px rgba(210,215,211);
	margin-left: -10px;
}
.information {
	float:right;
}
.information h5{
	width: 550px;
	position:absolute;
	margin-left: 4%;
	font: 600 25px 'Open Sans';
	color: white;
	
	
}

.information p{
	width: 450px;
	position: absolute;
	margin-left: 4%;
	margin-top: 1%;
	color: white;
}

.information a {
	color: white;
	text-decoration: underline;
}

.information a:hover {
	color: #0d137b;
}

.info-card-header{
	background-color: white;
	width: 40%;
	height: 60px;
	border-radius: 80px;
	margin-left:auto;
	margin-right:auto;
	align-content:center;
	//box-shadow: 0px 0px 0px .5px black;;
}

.info-card-header h2{
	text-align:center;
	color:#1493d4;
	margin-top:10px;
}


.title_interweb{
	background-color:#1493d4;
	width:40%;
	height: 60px;
	border-radius: 80px;
	margin-left:auto;
	margin-right:auto;
	align-content:center;
}

/*This needs to be fixed somehow*/
.title_interweb h2{
	color:white;
	text-align:center;
	position:flex;
	margin-top:10px;
}

.contact-holder h3{
	color: #1493d4;
	font: 600 30px 'Open Sans';
	text-align: center;
}

.contact-containers{
	height: 20px;
	width: 200px;
	margin-left: 10px;
	margin-right:auto;
	text-align:center;
	float: left;
	padding: 6%;
	
}

.contact-containers img{
	size: 40px;
	align-content: center;
	margin-top: auto;
	
} 

.contact-containers p {
	line-height: 70px;
	color: #1493d4;
	font:600 17px 'Open Sans';
	align-content: margin-top: auto;
}



.email_img{
	width: 40px;
}

.content_white{
	padding: 50px 0 0 0; 
	overflow:hidden;
}
.content_white .content_left{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	height:800px;
}

.carousel{
	overflow:hidden;
	
}
.content_white > .d-carousel ul .category, .content_white > .d-carousel ul .categoryFast{
	display:block;
	    width:250px;
    	height: 155px; 
    	overflow:hidden; 
    	position: relative; 
    	//border:2px solid #909090; 
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    	//margin-left: auto;
		
}
.content_white > .d-carousel ul .category:hover{
	border:2px solid #1493d4;
	transform: scale(1.1);
	transition: .3s;
	
}
.category{
	display:block; 
	float:left; 
	width:195px; 
	overflow:hidden; 
	position:relative; 
	border:2px solid #fff;
    margin-left: 60px;
	margin-top: 20px;
	border-radius:20px;
	align-content: center;
	}

.categoryFast{
	display:block; 
	float:left; 
	width:195px; 
	overflow:hidden; 
	position:relative; 
	border:2px solid #fff;
    margin-left: 60px;
	margin-top: 20px;
	border-radius:20px;
	left: 160px;
	}


.category img, .categoryFast img{
	width: 250px;
	height: 155px;
}

.category:hover img, .categoryFast:hover img{
	transform: scale(1.1);
	transition: .5s ease-in-out;
}
.content_white > .d-carousel ul .category:nth-child(4n){
	margin-right:0px;
}
.category p{
	background: rgba(255,255,255,0.8); 
	padding: 3px 5px; 
	z-index: 999; 
	position:absolute; 
	bottom:0px; 
	left:0px; 
	width:115px; 
	color:#4a4a4a;
	font-size:12px; 
	font-weight:600;
	
}
.category:hover, .categoryFast:hover{
	border-color:#1493d4;
	transform: scale(1.1);
	transition: .3s ease-in-out;
}
.category:hover p, .categoryFast:hover p{
	color:#083f5b; 
}
.copy{
	background:#1493d4; 
	padding:10px 0px 12px 0; 
	text-align:center;
	margin-left: -10px;

}
.copy p{
	color:#fff; 
	font-size:13px;
}
.footer{
	background:#083f5b; 
	padding:16px 20px 10px; 
	overflow:hidden;
	margin-left: -10px;
}


.sidebar_search p {
	margin-left: 15%;
	margin-right: 15%;
	color: ;
}

.sidebar_search h4{
	color: #1493d4;
	font-style: italic;
	line-height: 4;
	//position: absolute;
	width: 755px;
	float: right;
}





.footer_left{
	float:left; 
	width:400px;
}
.footer p{
	font-size:12px; 
	color:#fff;    
	line-height: 14px;
}
.footer p span{
	font-weight:700;
}
.footer p a{
	text-decoration:underline; 
	color:#fff;
}
.footer p a:hover{
	text-decoration:none;
}
.footer_right{
	float:right; 
	width:400px; 
	text-align:right;
}
.footer_right .menu_wrap{
    	padding: 0;
    	margin-bottom: 0px;
}
.footer_right .menu_wrap li{
	float:none; 
	display:inline-block;
}
.footer_right .menu_wrap li a{
	font-size:12px;
}

.ik_select_link.ik_select_link_disabled{
	opacity:.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:alpha(opacity=50);
	
}
.ik_select_link_text{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis; 
	color:#535353;     
	font-size: 15px;     
	padding-left: 25px; 
	padding-right:56px;
	width: 4px;
	
	

}
.ik_select_filter_wrap,.ik_select_nothing_found{
	padding:5px 15px;

}
.ik_select_filter{
	padding:3px 14px;
	border:1px solid #333;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:300;
	
}
.ik_select_filter:focus{
	outline:none
}
.ik_select_list{
	padding:5px 0;
	color:#fff;
}
.ik_select_list .ik_select_option{
	padding:0 10px;
}
.intro-select-ie-link{
	padding:14px;
	border-radius:28px;
	position:relative; 
	border:2px solid #058cd1;  
	line-height:25px;
}
.intro-select-ie-link:after{
	content:''; 
	position:absolute;  
	top: 15px; right: px; 
	display:block;  
	width:50px; 
	height:25px; 
	text-align:center; 
	background:url(../images/arrow-down-icon.png) no-repeat 0px 0px;
	margin-top: 5px;
	
}

.intro-select-ie-link:hover{
	cursor:pointer;
}
.intro-select-ie-dd{
	top:auto;
	background:none;
}
.intro-select-ie-dd .ik_select_list{
	padding:0;
	border:1px solid #91abc2;
	-webkit-border-radius:0;
	border-radius:0;
	background:#fff;
	color:#000;
	-webkit-font-smoothing:none;
	
}
.intro-select-ie-dd .ik_select_list li{
	padding:1px 5px 1px 7px; 
	list-style:none;
}
.intro-select-ie-dd .ik_select_list li.ik_select_hover{
	background:#0094cc;
	color:#fff;
	cursor:pointer;
}

#pull, #pull2{
	display:none;
}
.categorys{
	overflow:hidden;
}
.search_result{
	padding:16px 0px 0px 20px;
}
.search_result .sidebar_search{
	border-bottom:none; 
	margin-top:22px;    
	padding-bottom: 16px;
}
.search_result .sidebar_search h2{
	display:inline-block; 
	vertical-align:top; 
	color:#0094cc; 
	font-size:18px; 
	float:left; 
	text-shadow:1px 1px 1px #999999;    
	margin: 2px 11px 0px 0px;
}
.search_result .sidebar_search .search input {
    	width: 255px;
}
.search_result .sidebar_search .search{
    	border: 1px solid #058cd1;
}
.search_result  .categorys{
	margin-top:27px;
}
.search_result .category{
	width: 100px;
    	height: 150px;
    	position: static;
    	border: none;
    	margin: 0px 25px 8px 0px;
}
.search_result .category > div{
	height:98px; 
	width:98px; 
	border:1px solid #dfdfdf; 
	overflow:hidden;
}
.search_result .category:nth-child(3n){
	margin-right:25px;
}
.search_result .category:nth-child(5n){
	margin-right:0px;
}
.search_result .category img{ 
	width:auto; 
	height:100%;
}
.search_result .category p{
	position: static;
	color: #d85109;
	width: auto;		
	font-size: 9px;
	font-weight: 700;
	padding: 3px 0px;
}
.content_search .sidebar{
	width: 304px;    
	padding: 30px 15px 0px 0px;
}
.content_search .sidebar h2{
	font-size:17px; 
	margin-bottom: 0px;
}


/*------------ ------------------- ---------  search_result  ------- ------------------- ---------------------*/

.category_caption {
    	color: #3e3e3e !important;
    	position: absolute !important;
    	width: 115px !important;
    	font-size: 11px !important;
    	font-weight: 600 !important;
}

.top_nav{
	border-bottom:1px solid #e5e5e5; 
	overflow:hidden;
}
.top_nav > a{
	float:right; 
	font:400 15px 'Open Sans'; 
	color:#fff;  
	padding: 0px 8px;  
	text-align: center;  
	min-width: 49px; 
	text-shadow:1px 1px 1px #000; 
	border-left:1px solid #fff; 
	line-height:35px; 
	display:block; 
	background:#0094cc;
}
.search_page{
	padding:23px 25px 14px;
}
.keyword{
	padding:12px 17px 11px 20px; 
	background:#e6f2f8; 
	overflow:hidden;
	margin-top: 30px;
}
.keyword h3{
	float:left; 
	font-size:20px; 
	font-weight:600; 
	color:#0f6896;
}
.keyword_filtr{
	float:right;    
	width: 631px;   
	overflow: hidden;   
	margin-top: 3px;
}
.keyword_filtr p{
	font-size:14px; 
	font-weight:600; 
	color:#3e3e3e; 
	float:left;
}
.keyword_filtr button{
	float:right; 
	border:1px solid #e7e7e7; 
	width:26px; 
	height:27px; 
	text-align:center; 
	vertical-align:middle; 
	line-height:25px; 
	background:#fff; 
	margin-left:3px;
	
}
.filter1{
	width: 190px !important;
	height: 60px;
	margin-top: 46px;
}
.filter2{
	width: 100px!important;
	border-radius: 70px;
	height: 29px;


}
.filter3{
	width: 100px!important;
	height: 29px;
	
}
.keyword_filtr .list{
	float:left; 
	background:#fff; 
	margin-left:10px;
	border-radius: 0px;
	font: 400 15px 'Open Sans';
	height: px;
}

.keyword_filtr .list .ik_select_link_text {
	font-size: 10px;
	margin-top: -5px;
        margin-left: 15px;
}
.keyword_filtr .intro-select-ie-link {
    	border: 1px solid #e7e7e7;    
    	height: 0px; 
    	line-height: 18px;
	border-radius: 0px;
	font: 400 10px 'Open Sans';
}
.keyword_filtr  .intro-select-ie-link:after {
    	text-align: center;
    	background: url(../images/icons/2.png) no-repeat 0px 0px;
    	border-left: 1px solid #e7e7e7;
	background-size:100% 100%; 
	width:27px; 
	height:29px;
	margin-top: -15px;
	margin-left: -15px;
	
}
.keyword_filtr  .ik_select_link_text {
    	padding-left: 1px;
    	padding-right: 24px;
	
}
.ik_select_option {
	font-size:10px; 
	font-style:italic; 
	line-height:15px;
}
.search_category{
	width: 162px;
    	float: left;   
    	border: 1px solid #dadada;   
    	margin: 0px 21px 24px 1px; 
    	position:relative; 
    	padding-bottom:34px;
    	height:365px;
    	overflow: hidden;
}

div.content_search_cat_list div.search_category {
    	height: 100% !important;
}
.content_search_cat .search_category:nth-child(5n){
	margin-right:0;
}
.search_category h3{
	color:#d85109; 
	font-size:14px; 
	margin-bottom:1px; 
	font-weight:700;
}
.search_category p{
	color:#3e3e3e; 
	font-size:12px; 
	margin-bottom:1px; 
}
.search_category p span{
	font-weight:700;
}
.search_category a{
	color:#fff; 
	font-size:12px;  
	font-weight:700;  
	padding: 0 9px; 
	text-align: center; 
	display:block; 
	position:absolute; 
	left:0px; 
	bottom:0px; 
	background:#0f6896; 
	margin:0 -1px -1px -1px;
       	width:147px; 
	text-transform:uppercase;
       	line-height:30px;
}
.search_category_image{
	width:163px; 
	display:inline-block; 
	vertical-align:middle; 
	text-align:center; 
	height:210px; 
	overflow:hidden; 
	padding:5px 0px 0px;
}
.search_category_image img{
    	max-width: 95%;
    	height: auto;	    
    	width: auto;
}
.search_category_info{
	padding: 0 10px;
}
.content_search_cat{
	padding:28px 0 0; 
	overflow:hidden;
}

.pagination{
	border-bottom:1px solid #dadada; 
	border-top:1px solid #dadada; 
	padding:3px 0px; 
	text-align:center;
	height: 40px;
}
.pagination_result{
	display:inline-block; 
	vertical-align:top; 
	margin:0 7px;
}
.pagination_result p{
	color:#535353; 
	font-weight:700; 
	font-size:13px; 
	display:inline-block; 
	margin:9px 9px 0px 0px;
}
.pagination_result .list{
	width:70px;    
	margin-top: 4px;
}
.pagination_result .intro-select-ie-link {
	border: 1px solid #e7e7e7;    
    height: 0px;
	line-height: 18px;
	border-radius: 0px;
	width: 60px;
}
.pagination_result  .intro-select-ie-link:after {
	text-align: center;
	background: url(../images/icons/2.png) no-repeat 0px 0px;
	z-index: 9999999999;
	border-left: 1px solid #e7e7e7;
	background-size:100% 100%; 
	width:31px; 
	height:29px;
	margin-top: -15px;
	margin-left: -15px;
}
.pagination_result  .ik_select_link_text {
	padding-left: 1px;
	margin-left: 25px;
	margin-top: -8px;
	font-size: 10px;
	width: 20px;
}
.pagination_number{
	display:inline-block; 
	vertical-align:top;     
	margin: 0 33px;
}
.pagination_number span{
	color:#0f6896; 
	font-weight:700; 
	font-style:italic; 
	font-size:15px; 
	display:inline-block; 
	margin: 8px 1px; 
	vertical-align:top;
}
.pagination_number a{
	color:#535353;  
	font-size:15px; 
	font-style:italic; 
	display:inline-block; 
	margin:4px 2px; 
	vertical-align:top;
	margin-top: 8px;
}
.pagination_number a:hover{
	color:#0f6896;
}
.pagination_number .prev_arrow{
	height:20px; 
	width:16px; 
	background:url(../images/pag_arrow.png) no-repeat 0px 0px;    
	margin-right: 6px;
}
.prev_arrow:hover{
	background:url(../images/pag_arrow.png) no-repeat 0px -20px;
}
.pagination_number .next_arrow{
	height:20px; 
	width:16px; 
	background:url(../images/pag_arrow.png) no-repeat -16px 0px; 
	margin-left: 6px;
}
.next_arrow:hover{
	height:20px; 
	width:16px; 
	background:url(../images/pag_arrow.png) no-repeat -16px -20px;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 9999999999;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.popup {
	background-color: #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 25px 35px 40px;
	width:515px;
	height:165px;
	position: fixed;
	top: 20%;
	visibility: hidden;
	z-index: 99999999991;
	margin-left:-293px;
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
}
.popup p{
    	line-height: 18px;
    	margin-top: 15px;
    	margin-bottom: 23px;
}
.return{
	display:block; 
	background:#0094cc; 
	border:1px solid #058cd1; 
	position:relative; 
	padding:7px 0px 8px 10px; 
	width:270px; 
	font-size:22px; 
	font-weight:600; 
	color:#fff;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
}
.return:after{
	position:absolute; 
	right:1px; 
	top:1px; 
	background:url(../images/icons/3.png) no-repeat 0px 0px; 
	background-size:100% 100%; 
	width:40px; 
	height:43px; 
	border-left:2px solid #fff; 
	content:''; 
	display:block;
}
	
	
	
	
.content_search_cat_list{
	padding: 28px 0 0;
}
.content_search_cat_list .search_category{
	width:97.6%;   
	float: none;   
	border: 1px solid #dadada;   
	margin: 0px 0px 24px 0px; 
	position:static;
       	padding-bottom:20px; 
	overflow:hidden;
}
.content_search_cat_list .search_category_image{
	width:80px; 
	display:table-cell; 
	vertical-align:middle; 
	text-align:center; 
	height:100px; 
	overflow:hidden; 
	padding:5px 0px 0px; 
	float:left; 
	margin-right:22px;
}
.content_search_cat_list .search_category_image img{
	height:100%; 
	width:auto;
}
.content_search_cat_list .search_category_info {
	padding: 10px 10px 0 0;
	width: 750px;
	float: left;
}
.content_search_cat_list .search_category_info h3{
	width:230px; 
	height:100%; 
	float:left; 
	color:#535353; 
	font-size:16px; 
	padding-top:31px;
}
.content_search_cat_list .search_category_info p {
	color: #535353;
	float: right;
	width: 480px;
}
.content_search_cat_list .search_category a {
	color: #535353;
	padding:0;
	text-align: center;
	display: block;
	position: static;
	background: #e2e2e2;
	margin:38px 22px 0 0;
	float:right;
	width: 164px;
	line-height: 30px;
}
.breadcrumbs{
	float:left;    
	padding: 12px 0px 0px 11px;
}
.breadcrumbs p{
	color:#535353; 
	font-size:13px; 
	font-family:'Arial';
}
.breadcrumbs a{
	color:black; 
	margin: 0px 1px; 
	font-size: 12px;  
	letter-spacing: -0.2px;
}
.breadcrumbs a:first-child{
	margin:0px 2px 0px 0px; 
	color:#3e3e3e; 
	font-size:13px;
}
.breadcrumbs a:hover{
	text-decoration:underline;
}
.breadcrumbs span{
	color:black; 
	margin:0px 2px; 
	font-size:12px;
}
.product_left{
	width: 455px;
}
.product_foto{
	padding:16px 0 0 9px;
}
.product_foto h2{
	font-size:18px;
}
.product_foto_img{
	display:table-cell; 
	vertical-align:middle; 
	height:413px; 
	text-align:center;     
	width: 455px;
}
.sidebar_product{
	width: 460px; 
	padding: 18px 20px 23px 0px;
}
.sidebar_product h3{
	font-size:16px; 
	color:#d85109; 
	font-weight:600;    
	margin: 0px 0px 11px 6px;
}
.product_info{
	border:1px solid #e6f2f8;    
	padding-bottom: 7px;   
	margin-bottom: 2px;
}
.tabel > div:nth-child(odd){
	background:#e6f2f8;
}
.row{
	padding: 1px 0px 4px; 
	overflow:hidden;
}
.cell_name{
	float:left; 
	width:171px; 
	padding-left:5px;
}
.cell_info{
	float:left; 
	width:270px;
}
.product_info span{
	color:#535353; 
	font-weight:700; 
	font-size:13px;
}
.product_info p{
	color:#242424; 
	font-size:13px;
}
.detils{
	padding: 1px 4px;
}
.detils p{
	margin-bottom:18px;
}
.additional_info {
    	white-space: pre-wrap;       
    	white-space: -moz-pre-wrap;  
    	white-space: -pre-wrap;      
    	white-space: -o-pre-wrap;    
    	word-wrap: break-word;  
    	margin-left: 5px;
    	font-family: 'Open Sans';
    	font-size: 13px;
}

.additional_info_categories {
    	white-space: pre-wrap;
    	white-space: -moz-pre-wrap;
    	white-space: -pre-wrap;
    	white-space: -o-pre-wrap;
    	word-wrap: break-word;
    	font-family: 'Open Sans';
    	font-size: 12px;
    	color: #3e3e3e
}

.additional_details_container {
    	float: right;
    	width: 64%
}

.additional_details_caption {
    	font-weight: 700;
    	font-size: 12px;
   	color: #535353;
}

.quote{
	border:1px solid #d85109;
}
.quote_title{
	overflow:hidden; 
	background:#d85109; 
	padding:3px 10px;
}
.quote_title h3{
	color:#fff; 
	float:left; 
	font-size:20px; 
	font-family:'Open Sans Condensed'; 
	text-shadow:1px 1px 1px #000; 
	width:190px;    
	margin: 2px 0px 4px 10px;
}
.quote_title p{
	color:#fff; 
	float:left; 
	font-size:13px; 
	width:210px; 
	line-height: 16px;
}

.quote_body{
	overflow:hidden; 
	padding:10px 0px 4px 20px;
}
.quote_body h4{
	color:#d85109; 
	font-style:italic; 
	font-weight:700; 
	text-align:right; 
	font-size:12px;    
	margin-bottom: 7px;
}
.form_body{
	float:left; 
	width:273px;
}
.quote_body .form input {
    	width: 115px;    
    	margin-bottom: 10px;
}
.form_info input[type="submit"] {
	width: 120px;
    	margin: 60px 0px 0px 25px;
    	font-size: 12px;
}
.quote_body .form textarea {
    	width: 251px;    
    	height: 60px;
}
.form_info{
	float:right;     
	width: 151px;  
	margin: 19px 2px 0px 0px;
}
.form_info p{
	color:#3e3e3e; 
	font-size:12px;    
	line-height: 15px;
}
.form_info p span{
	font-weight:700;
}
.form_info p a{
	color:#0f6896; 
	font-size:12px; 
	text-decoration:underline; 
	font-weight:700;
}
.form_info p a:hover{
	text-decoration:none;
	}
.content_bottom{
	background:#0094cc;
}
.search_history {
    	background: #dfdfdf;
    	padding: 0px 0px 20px 36px;
    	border-radius: 0px 0px 5px 5px;
    	margin: 0px 114px 0px 120px;
    	overflow: hidden;
}
.search_history_text {
    	width: 124px;
    	float: left;
    	margin-top: 13px;
}
.search_history_text p{	
	color:#3e3e3e; 
	font-size:14px; 
	font-style:italic;
}
.search_history_text span{	
	font-style:normal; 
	font-weight:bold;
}
.recommendation{
	padding: 30px 0px 0px 40px;
}
.recommendation h2{
	color:#fff;
}

.recommendation .search_category{
	border:1px solid #083f5b;
       	background:#fff;    
	width: 163px;
}
.recommendation .search_category h3{
	color:#535353;
}
.recommendation .content_search_cat {
    	padding: 9px 0 0 9px;
}



.d-carousel{
	margin-left:19px;
}
.d-carousel ul li {
	background: none;
	width:120px;
	text-align:center;
}
.d-carousel ul li .image{
	height:118px; 
	border:1px solid #058cd1; 
	overflow:hidden;
}
.d-carousel p{
	color:#3e3e3e; 
	font-size:11px; 
	font-style:italic;    
	line-height: 12px;
    	margin-top: 4px;
}
.d-carousel ul li .image img{
	height:100%; 
	width:auto;
}
.d-carousel h4 {
	margin: 5px 0 5px 25px; 
	color:#0094cc; 
	font-size:11px; 
	font-style:italic;
}
.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
}
.d-carousel .jcarousel-container-horizontal {
	/*width: 378px;*/
    	padding: 0 23px;
}

.d-carousel .jcarousel-item-horizontal {
	margin-right:9px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 50%;
	margin-top:-9px;
	right: 0;
	margin-right: 3px;
	width: 21px;
	height: 18px;
	cursor: pointer;
	background: transparent url(../images/carousel/arrows.jpg) no-repeat top right;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../images/carousel/arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
	opacity:0.8;
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 50%;
	margin-top:-9px;
	left: 0;
	margin-left: 3px;
	width: 21px;
	height: 18px;
	cursor: pointer;
	background: transparent url(../images/carousel/arrows.jpg) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/carousel/arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
	opacity:0.8;
}
.search_history .d-carousel{
	margin-left:0px;
}
.search_history  .d-carousel ul li {
	width: 92px;
    	margin-right: 17px;
    	height: 120px;
}
.search_history .d-carousel .jcarousel-container-horizontal {
    	width: 540px;
}
.search_history  .d-carousel ul li .image{
	height:90px;
}
.search_history .jcarousel-clip{
	padding:5px 5px 7px 5px; 
	background:#fff; 
	border:1px solid #058cd1;
}

.logo {
    margin: 7px 0px 0px 0px;
}
.logo img{
	width: 335px;  
	height: auto;
}
.info {
    width: 500px;  
	margin: 4px 2px 0px 0px;
}

.search_text {
    	width: 185px;    
    	height: 59px;
}
.search_text p span {
    	font: 700 20px 'Open Sans Condensed';
}

.search input {
    	width: 150px;
    	padding: 8px px 8px 5px;
    	font-size: 14px;
		color: black;
}
.list {
    	width: 185px;
}
.list_select {
    	font-size: 9px;
    	padding-left: 3px;
}
.menu_wrap li a {
    	font: 600 21px 'Open Sans';
	margin-right: auto;
	margin-left: auto;
}
.menu_wrap {
    	padding: 8px 0px 8px 8px;
	margin-right: auto;
	margin-left: auto;
}
.content_left {
    	float: none;
    	width: 100%;
}
.this_is img {
    	margin: 19px 34px 10px;
}

.learn_more {
    	clear: both;
}
.content > div {
    	padding-bottom: 0px;
}


.content_white {
    	padding: 11px 0 20px 9px;
}
.content_white .content_left {
   	width: 1000px; 
}

.content_white > .d-carousel ul .category div{
    	overflow: hidden;
}

.content_white .learn_more{
	margin-bottom:30px;
}
.footer_left {
    	float: none;
    	width: 100%;
    	text-align: center;
    	margin-bottom: 20px;
}
.footer_right {
    	float: none;
    	width: 100%;
    	text-align: center;
}
.content_search .content_left{
	float: left;
    	width: 1000px;
	text-align: center;
}
.search_result .sidebar_search {
    	margin-top: 12px;    
    	padding-bottom: 10px;
}
.search_result .sidebar_search h2 {
	margin: 1px 11px 11px 0px;
}
.content_search .sidebar {
    	width: 303px;
    	padding: 1px 22px 0px 0;
    	float: right;
}
.search_result .categorys {
    	margin-top: 16px;
}

.search_result .categorys .category:nth-child(2n) {
    	margin-right: 25px;
}
.search_result .categorys .category:nth-child(3n) {
    	margin-right: 0px;
}
.search_result .category:nth-child(5n) {
    	margin-right: 25px;
}



.search_page {
    	padding: 23px 0px 14px;
}







.content_search_cat {
    	padding: 22px 0px 0 13px;
}
.search_category {
    	width: 163px;
    	margin: 0px 9px 24px 1px;
}
.content_search_cat .search_category:nth-child(5n){
	margin-right:9px;
}
.content_search_cat_list .search_category {
    	width: 685px;
    	margin: 0px 0px 24px 17px;
}
.content_search_cat_list .search_category_info h3 {
    	width: auto;
    	height: auto;    
    	margin-bottom: 10px;
    	float: none;
    	padding-top: 0px;
}
.content_search_cat_list .search_category_info p {
    	float: none;
    	width: auto;
}
.content_search_cat_list .search_category_info {
    	padding: 11px 0px 0 0;
    	width: 395px;
    	float: left;
}
.content_search_cat_list .search_category_image {
    	width: 100px;
    	margin-right: 15px;
    	margin-top: 10px;
}
.content_search_cat_list .search_category a {
    	margin: 38px 29px 0 0;
    	width: 123px;
    	font-size: 9px;
}
.top_nav {
    	overflow: initial;
}
.breadcrumbs {
    	float: none;
   	padding: 12px 0px 9px 11px;
}
.product_foto {
    	padding: 3px 0 0 12px;
}
.d-carousel {
   	margin-left: -22px;
}
.d-carousel ul li {
    	width: 99px; 
    	margin-right: 8px;
    	height: 99px;
}
.d-carousel ul li .image {
    	height: 97px;
    	width: 97px;
}
.d-carousel h4 {
    	margin: 5px 0 3px 28px;
}
.product_foto_img {
    	height: 424px;
    	width: 330px;
}
.d-carousel .jcarousel-container-horizontal {
    	width: 313px;
}
.product_left {
    	width: 361px;
    	float: left;
}
.sidebar_product {
    	width: 460px;
    	float: right;
    	margin-top: 30px;
	margin-right: -200px;
}
.product_info span {
    	font-size: 12px; 
    	line-height: 13px;
}
.product_info p{
    	font-size: 12px;     
    	line-height: 13px;
}
.cell_name {
    	width: 143px;
}
.cell_info {
    	float: left;
    	width: 185px;
}

.product_info .detils p {
    	line-height: 18px;
}
.quote {
    	width: 460px;
    	margin: 11px 0px 20px -347px;
	float: right;
}
.quote_title p {
    	width: 390px;
    	margin-top: 7px;
}
.search_history {
    	padding: 6px 0px 20px 32px;
    	border-radius: 0;
    	margin: 0;
}
.search_history .d-carousel ul li {
    	width: 99px;
    	margin-right: 8px;
}
.recommendation {
    	padding: 30px 0px 0px 12px;
}
.recommendation h2 {
    	margin-left: 20px;
}
.recommendation .search_category .search_category_info {
    	padding: 0px 4px 0 11px;
}


.recommendation .search_category{
    	margin: 0px 18px 24px 1px;
}
.recommendation .content_search_cat > div:last-child{
	display:none;
}

.wrap_learn_more{
	display:none;
}

}
.share-machine-modal{
	position: fixed !important; 
	top: 30%; 
	left: 40%; 
	background: white; 
	width: 500px;
	height: ; 
	padding: 0px;
}

.flip-card-back {
	left: 80px;
}

.flip-card-front {
	left: 15px;
}

.information p{
	margin-top: 20px;
}

.contact-containers {
	width: 190px
}

/* Print Page */

.print-page div.wraper div{
    	box-shadow: none;
}

.print-page h1{
    	padding-bottom: 10px;
    	padding-left: 10px;
}

ul.image-print li{
    	width: 50%;
    	float: left;
    	list-style-type: none;
}

ul.image-print h2{
    	padding: 10px 10px 0px;
    	text-shadow: none;
    	color: #000;
}

ul.image-print li table{
    	padding: 0px 10px;
}

ul.image-print li img{
    	max-width: 100%;
}

/* ==================
    Mobile Responsive code 
====================*/
@media only screen and (max-width: 479px) and (min-width: 0px){
.hide_mobile{
    	display: none !important;
}

.content_white > .d-carousel ul .category{
	display:block; 
	float:left; 
	width: 175px; 
	overflow:hidden; 
	position:relative; 
	border:2px solid #909090; 
	margin:0px 8px 20px 0px;
}

.content_white > .d-carousel ul .category img{
    	max-width: 100%;
}

.share-machine-modal{
	position: fixed !important; 
	top: 0%; 
	left: 0%; 
	background: white; 
	width: 100%; 
	height: ; 
	padding: 0px;
}

.wraper > div{
	width: 100%; 
	min-width: 320px;
}
.top {
    	padding: 0px 0px 0px;
}
.top_nav > a{
    	width: 49.5%;
    	padding: 0px;
    	border-left: 0px;
    	border-right: 1px solid #fff;
}
.logo {
    	margin: 7px auto 10px 13%;
    	width: 273px; 
    	float: none;
}
.logo img{
	width: 273px;  
	height: auto;
}
.info {
    	width: 100%;
    	margin: 0;
}

.text-invisible {
    	display: none;
}

.footer-links {
    	color: white;
    	font-size: smaller;
    	text-align: center;
}

.footer-link {
    	color: white;
    	font-size: smaller;
}

.text-visible {
   	display: inline !important;
}
#list_button,#tabel_button, .keyword h3{
    	display:none;       
}

.info_top {
    	height: 30px;
    	margin:0px auto;
    	border: none;
    	border-bottom: 1px solid #b5b5b5;
    	border-top: 1px solid #b5b5b5;
    	width:100%;
}
.search_text {

   	height: 30px;
    width: 100%;
}

/*
.search_text p:last-of-type, .phone p:last-of-type{
	display:none;
} */
.search_text p span {
    	font: 700 20px 'Open Sans Condensed';
}

.search_hidden{
    	border: 1px solid #ccc;
    	border-top: 1px;
}
/*
.phone {
    	height: 30px;
}
.phone p {
    	font: 12px 'Open Sans';
}
.phone p span {
    	font: 700 16px 'Open Sans';
} */
.search input {
    	width: 137px;
    	padding: 8px 48px 8px 5px;
    	font-size: 9px;
}
.list {
   	display:none;
}
.menu_wrap li a {
    	font: 600 14px 'Open Sans';
}
.menu_wrap {
    	padding: 8px 0px 8px 8px;
}
.content_left {
    	float: none;
    	width: 100%;
}
.this_is img {
    	margin: 0 auto;
    	display: block;
    	width: 230px;
    	height: auto;
}
.content {
    	padding: 0;
    	width: 100%;
}
.this_is img:nth-of-type(2){
	display:none;
}
.sidebar {
    	float: none;
    	width: 100%;
    	padding: 0;
    	margin-top: 15px;
}
.why {
    	border: none;
    	padding: 15px 9px 25px 9px;
    	background: #9ec9e0;
    	margin-bottom: 0;
    	width: 100%;
    	float: none;
    	height: auto;
}
.sidebar .why:nth-child(2){
	background: #e6f2f8;
}
.learn_more {
    	clear: both;
}
.content > div {
    	padding-bottom: 0px;
}


.content_white {
    	padding: 0;
}
.content_white .content_left {
    	width: 100%;
}
.category {
    	display: block;
    	float: none;
    	width: 195px;
    	overflow: hidden;
    	height: 113px;
    	position: relative;
    	border: 2px solid #909090;
    	margin: 0px auto 12px;
}
.content_white .sidebar {
    	width: 100%;    
    	margin-top: 20px;
    	padding: 0px 0px 0px 10px;
    	float: right;
}
.sidebar .sidebar_search:first-child{
	display:none;
}
.sidebar_search .search input {
    	width: 234px;
    	padding: 8px 58px 5px 8px;
    	font-size: 12px;
}
.sidebar_search  .list_select{
	font-size: 12px;
}
.footer{
    	padding: 16px 15px 10px;
}

.footer_left {
    	float: none;
    	width: 100%;
    	text-align: center;
    	margin-bottom: 10px;
}
.footer_right {
    	float: none;
    	width: 100%;
    	text-align: center;
}
.footer_right .menu_wrap {
    	margin-bottom: 3px;
}
.footer p {
    	font-size: 10px;
}
.footer_right .menu_wrap li a {
    	font-size: 9px;
}

.search_result {
    	padding: 16px 11px 0px 11px;
}
.search_result h2 {
    	margin-bottom: 7px;
}
.search_result p{
    	line-height: 18px;
}
.search_result .sidebar_search {
    	margin-top: 29px;    
    	padding-bottom: 10px;
}

.search_result .sidebar_search .search input {
    	width: 228px;
}
.search_result .categorys {
    	margin-top: 31px;
    	margin-left: -5px;
    	margin-right: -10px;
}
.search_result .category {
	float:left;    
	margin: 0px 4px 0px 20px;
}

.search_result .categorys .category:nth-child(2n) {
    	margin-right: 4px;
}
.search_result .categorys .category:nth-child(3n) {
    	margin-right: 0px;
}
.search_result .category:nth-child(5n) {
    	margin-right: 4px;
}
.search_result .sidebar_search h2 {
	margin:2px 0px 9px 0px;    
	float: none;
}
.content_search .sidebar {
    	width: 95%;
    	padding: 8px 10px 0px 11px;
    	margin-top: 16px;
    	background-color: #e6f2f8;
}
.content_search .sidebar .sidebar_search:first-child {
    	display: block;
    	padding: 0px 0 14px;
    	margin-bottom: 0;
}
.content_search .sidebar h2 {
    	margin-bottom: 7px;
    	color: #0f6896;
    
}
.sidebar_search h2{
    	padding: 0px 15px;
}
.sidebar_search p {
    	line-height: 16px;
    	margin-bottom: 15px;
    	padding: 0px 15px;
}
.sidebar_search h4 {
    
    	margin-bottom: 12px;
}
.form input {
    	width: 43%;
}
.form textarea {
    	width: 91.8%;
    	padding:0px 10px;
}

div.form input:nth-child(2n){
   
}

div.form input[type="submit"] {
    	width: 100%;
}
.copy p {
    	font-size: 9px;
}

.submit-home {
    	width: 50% !important;
    	margin-top: 10px;
}
.search_page {
    	padding: 23px 0px 14px;
}
.keyword h3 {
    	float: none;
}
.keyword_filtr {
    	float: right;
    	width: 410px;
    	max-width: 100%;
    	position: relative;
    	padding-top: 25px;
}
.keyword_filtr .list {
    	margin-left: 0;
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 10px;
    	float: none !important;
    	margin-bottom: 5px;
    	width: 110px !important;
        margin: 0 auto;
}

.kva-filter {
    	width: 235px !important;
}

#kvaFilter {
    	width: 235px !important;
}

.keyword_filtr p {
    	float: none;
    	margin-bottom: 10px;
    	margin-right:5px;
    	color:#0094cc;
    	position: absolute;
    	top: 0px;
    	left: 0px;
}

.filter1 input {
    	width:69px !important;
}

filter1{
    	float:right;
}

.keyword_filtr button {
    	float: none;
    	margin-right: 10px;
    	margin-top: 10px;
	margin-left:0;
}

.content_search_cat {
    	padding: 22px 0px 0 13px;
}
.search_category {
    	width: 135px;
    	margin: 0px 10px 16px 30px;
    	padding-bottom: 28px;
}
.search_category_image {
    	width: 165px;
    	height: 215px;
}
	.search_category_image img{
	height:100%;
        width: auto;
        max-width: 100%;
	}
.search_category_info {
    	padding: 0 5px;
}
.search_category h3 {
    	font-size: 12px;
}
.search_category p {
    	font-size: 10px;
}
.search_category a {
    	font-size: 10px;
    	width: 91%;
    	line-height: 25px;
}
.content_search_cat .search_category:nth-child(5n){
	margin-right:9px;
}
.pagination_result {
    	margin: 30px 7px 0px;
    	display:block;
}
.pagination_result .list {
    	display: inline-block;
    	float:none;
}


.pagination_number{
    	margin:-50px auto 5px;

}


.popup {
    	width: 280px;
    	margin-left: -160px;
    	height: auto;
    	padding: 25px 20px;
}
.content_search_cat_list .search_category {
    	width: 285px;    
    	padding-bottom: 10px;    
    	margin: 0px 0px 15px 15px;
}
.content_search_cat_list  .search_category_info {
    	width: 275px;    
    	margin-top: 20px;
}
.content_search_cat_list .search_category_image {
    	width: 100%;
}
.content_search_cat_list .search_category a {
    	margin: 13px 10px 0 0;
	width: 123px;
    	font-size: 9px;
}
.content_search_cat_list .search_category_info h3 {
    	width: auto;
    	height: auto;    
    	margin-bottom: 10px;
    	float: none;
    	padding-top: 0px;
}
.content_search_cat_list .search_category_info p {
    	float: none;
    	width: auto;
}
.breadcrumbs {
    	display:none;
}
.product_foto h2 {
    	text-align: center;
}
.product_foto {
    	padding:0px 0 0 0px;
}
.d-carousel {
    	margin-left:0;
}
.d-carousel ul li {
    	width: 84px; 
    	margin-right: 8px;
    	height: 84px;
}
.d-carousel ul li .image {
    	height: 82px;
    	width: 82px;
}
.d-carousel h4 {
    	margin: 5px 0 3px 0px;
    	text-align: center;
}
.product_foto_img {
    	height: 424px;
   	width: 330px;
    	min-width: 100%;
}
.product_foto_img img{
        max-height: 100%;
        width: auto;
        max-width: 100%;
}
.d-carousel .jcarousel-container-horizontal {
    	width: 271px;
}
.product_info span {
    	font-size: 12px; 
    	line-height: 13px;
}
.product_info p{
    	font-size: 12px;     
    	line-height: 13px;
}
.cell_name {
    	width: 135px;
}
.cell_info {
    	width: 176px;
}
.row {
   	padding: 5px 0px 5px;
}
.detils {
    	padding: 11px 10px;
}
.product_info .detils p {
    	line-height: 18px;
}
.quote {
    	width: 100%;
    	margin: 0;
}
.quote_title p {
    	display:none;
}
.form_body {
    	width: 100%; 
    	float:none;
}
.quote_title h3 {
    	margin: 0;
}
.quote_body {
    	padding-right: 19px;
}
.quote_body .form input {
    	width: 43%;
}
.quote_body .form textarea {
    	width: 91.5%;
}
.form_info {
    	width: 100%;
    	margin: -15px 0 0 0;
}
.form_info input[type="submit"] {
    	margin: 20px 0 10px;
}
.search_history {
    	padding:0;
    	border-radius: 0;
    	margin: 0;
}
.search_history_text {
    	width: auto;
    	float: none;    
    	margin-bottom: 15px;
    	margin-top: 0;
    	border-bottom: 1px solid #fff;
    	padding: 10px 20px;
}
.search_history .d-carousel .jcarousel-container-horizontal {
    	width: 273px;
}
.search_history .d-carousel ul li {
    	width: 84px;
    	margin-right: 5px;
}
.search_history .jcarousel-clip {
    	padding: 5px 6px 7px 6px;
    	background: none;
    	border: none;
}
.recommendation .search_category {
    	width: 137px;
}
.recommendation {
    	padding: 30px 0px 0px 12px;
    	display: none;
}
.recommendation h2 {
    	margin-left: 20px;
}
.recommendation .search_category .search_category_info {
    	padding: 0px 4px 0 11px;
}


.recommendation .search_category{
    	margin:0px 11px 24px 4px;
    	width: 45%;
}
.recommendation .content_search_cat > div:last-child{
	display:none;
}
.recommendation .content_search_cat {
    	padding: 9px 0 0 0px;
}
.search .search_hidden input {
    	width: 192px;
    	padding:11px 0px 10px 50px;
    	font-size: 9px;
    	border: none;
    	margin: 0;
    	color: #404040;
    	font-size: 11px;
    	font-style: italic;
    	line-height: 16px;
}

.menu .menu_wrap{
	display:none;
    	position: absolute;
    	right: 0px;
    	top: 40px;
    	padding: 0;
}
.menu_wrap li{
	float:none; 
	display:block; 
	background:#0094cc; 
	border-bottom:1px solid #fff; 
	width: 320px;
}
.menu_wrap li a {
    	font: 600 16px 'Open Sans';
    	color: #fff;
    	padding: 0px 12px;
    	text-shadow: 1px 1px 1px #000;
    	border-right:0;
    	-webkit-box-shadow: none;
    	-moz-box-shadow: none;
    	box-shadow: none;
}
#pull2{
	display:block;  
	color:#404040; 
	font-size:12px; 
	font-style:italic;
	margin-top: 12px;    
	line-height: 40px;
}
#pull2 span{
	margin:1px 0px 1px 10px;
	width:37px; 
	text-align:center; 
	display:inline-block; 
	vertical-align:top; 
	height:35px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(160,202,225,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(160,202,225,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(160,202,225,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(160,202,225,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(160,202,225,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(160,202,225,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a0cae1', GradientType=0 );
	}
.search .search_hidden button {
	left: 0px;    
	padding: 10px 0px 11px; 
	border-right:1px solid #e5e5e5; 
	border-left:0;
}
.search {
    	border: none;
    	position: relative;
    	float: none;
	/*border-bottom: 1px solid #e5e5e5;*/
}
.menu{
	background: none;
    	border-bottom: none;
    	padding-bottom: 0;
    	float: right;
    	margin-top:-51px;
	z-index:9;
	position: relative;
}
.wrap_learn_more{
	background:#0f6896; 
	padding:0px;
}
.footer_right .menu_wrap li {
    	width: 100%;
}
.sidebar .sidebar_search:last-child {
    	border-bottom: none;
    	padding: 15px;
}


.d-carousel ul .category {
    	width: 260px;
    	margin: 0px 8px 0px 0px;
    	height: 200px; border:none;
}
.d-carousel ul .category p{
	/*display:none;*/
}
.content_white > .d-carousel .jcarousel-clip{
	border: 1px solid #9ec9e0;
    	z-index:0;
}
.content_white > .d-carousel .jcarousel-prev-horizontal {
    	position: absolute;
    	top: 50%;
    	margin-top: -111px;
    	left: 1px;
    	margin-left:0px;
    	width: 29px;
    	height:200px;
    	cursor: pointer;
    	background: transparent url(../images/mob_arrow.jpg) no-repeat top left;
	background-size: auto 100%;
	border: 1px solid #9ec9e0;
	border-right:0;
}
.content_white > .d-carousel .jcarousel-next-horizontal {
    	position: absolute;
    	top: 50%;
    	margin-top: -111px;
    	right:1px;
    	margin-right:0px;
    	width: 29px;
    	height:200px;
    	cursor: pointer;
    	background: transparent url(../images/mob_arrow.jpg) no-repeat top right;
	background-size: auto 100%;
	border: 1px solid #9ec9e0;
	border-left:0;
}
.d-carousel .jcarousel-item-horizontal {
    	margin-right: 4px;
}
.d-carousel .jcarousel-container-horizontal {
    	width:100%;
    	padding: 0;
}
.jcarousel-clip .category img{
	width:100%; 
	height:100%;
}

.jcarousel-clip .category div{ 
	height: 200px;
}


.title_mobile{
	display:block; 
	margin:15px 10px;
}
.title_mobile h2{
	font-size:19px;
}
.title_mobile p{
	font-size:12px; 
	color:#083f5b; 
	font-style:italic; 
	font-family:'Arial';
}


}

.modal-content {
    	width: 600px !important;
    	margin: 30px auto !important;
}

.modal {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1040;
  	display: none;
  	overflow: auto;
  	overflow-y: scroll;
}

.modal.fade .modal-dialog {
  	-webkit-transform: translate(0, -25%);
      	-ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
  	-webkit-transition: -webkit-transform 0.3s ease-out;
     	-moz-transition: -moz-transform 0.3s ease-out;
       	-o-transition: -o-transform 0.3s ease-out;
       	transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  	-webkit-transform: translate(0, 0);
      	-ms-transform: translate(0, 0);
      	transform: translate(0, 0);
}

.modal-dialog {
  	z-index: 1050;
 	width: auto;
  	padding: 10px;
  	margin-right: auto;
  	margin-left: auto;
}

.modal-content {
  	position: relative;
  	background-color: #ffffff;
  	border: 1px solid #999999;
  	border: 1px solid rgba(0, 0, 0, 0.2);
  	border-radius: 6px;
  	outline: none;
  	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  	background-clip: padding-box;
}

.modal-body input, .modal-body textarea{
    	padding: 5px;
}

.modal-title-blue{
    	background: #0094cc none repeat scroll 0 0;
    	color: #fff;
    	display: block;
    	width: 100%;
    	font: 400 15px/35px "Open Sans";
    	height: 40px;
    	line-height: 40px;
    	text-transform:uppercase;
    	padding: 0 8px;
    	text-align: center;
    	text-shadow: 1px 1px 1px #000;
}

.modal-backdrop {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: 1030;
  	background-color: #000000;
}

.modal-backdrop.fade {
  	opacity: 0;
  	filter: alpha(opacity=0);
}

.modal-backdrop.in {
  	opacity: 0.5;
  	filter: alpha(opacity=50);
}

.modal-header {
  	min-height: 16.428571429px;
  	padding: 15px;
  	border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  	margin-top: -2px;
}

.modal-title {
  	margin: 0;
  	line-height: 1.428571429;
}

.modal-body {
  	position: relative;
  	padding: 20px;
}

.modal-footer {
  	padding: 19px 20px 20px;
  	margin-top: 15px;
  	text-align: right;
  	border-top: 1px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  	display: table;
  	content: " ";
}

.modal-footer:after {
  	clear: both;
}

.modal-footer:before,
.modal-footer:after {
  	display: table;
  	content: " ";
}

.modal-footer:after {
  	clear: both;
}

.modal-footer .btn + .btn {
  	margin-bottom: 0;
  	margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  	margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  	margin-left: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    	right: auto;
    	left: 50%;
    	width: 600px;
    	padding-top: 30px;
    	padding-bottom: 30px;
  }
  .modal-content {
    	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.btn {
  	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.428571429;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	cursor: pointer;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	-webkit-user-select: none;
     	-moz-user-select: none;
      	-ms-user-select: none;
       	-o-user-select: none;
     	user-select: none;
}

.btn:focus {
  	outline: thin dotted #333;
  	outline: 5px auto -webkit-focus-ring-color;
  	outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  	color: #333333;
  	text-decoration: none;
}

.btn:active,
.btn.active {
  	background-image: none;
  	outline: 0;
  	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  	pointer-events: none;
  	cursor: not-allowed;
  	opacity: 0.65;
  	filter: alpha(opacity=65);
  	-webkit-box-shadow: none;
     	box-shadow: none;
}

.btn-default {
  	color: #333333;
  	background-color: #ffffff;
  	border-color: #cccccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  	color: #333333;
  	background-color: #ebebeb;
  	border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  	background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  	background-color: #ffffff;
  	border-color: #cccccc;
}

.btn-primary {
  	color: #ffffff;
  	background-color: #428bca;
	border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-image: none;
}
