﻿<div>
    <!-- CONTENT
    =================================-->
    <div class="content-top">
        <div class="container">
            <div class="row">
                <div class="content-wrapper clearfix">
                    <div class="col-lg-8 col-sm-8">
                        <!-- CONTENT -->
                        <div class="block main-content">
                            <div class="block-content">
                                <img src="/Content/images/frontpage-first-image.jpg" width="100%" />
                                <h2 class="shadow">This is T.J. Snow's Used Equipment Division</h2>
                                <p>
                                    We have an extensive inventory of used and reconditioned Resistance Welding machines. Our extensive catalog of used spot welders includes portable gun, press spot, seam, rocker arm, projection, bench, three phase, micro, flash-butt, and coil joining welders.
                                </p><p>
                                    Our applications and engineering department maintains an extensive collection of used spot welders in inventory. Browse our catalog to find the quality and variety of used spot welders that we to offer in their current condition. Call us toll free at (800) 669-7669 or fill out our request for a quote, and let T. J. Snow Company's skilled engineers and sales team help you find the best solution and value for used spot welders for your company's resistance welding application.
                                </p><p>
                                    We stand behind our refurbished and remanufactured used spot welders because they are designed to meet the highest industry standards and perform quality resistance welds. No matter the season and throughout the year, THINK SNOW for your resistance welding needs.
                                </p>
                            </div>
                        </div>
                        <!-- CONTENT
                        =================================-->
                    </div>
                    <div class="col-lg-4 col-sm-4 sidebar">
                        <!-- SIDEBAR -->
                        <div class="block">
                            <div class="block-title shadow">Why buy used?</div>
                            <div class="block-content">
                                <ul>
                                    <li>Save money</li>
                                    <li>Used machinery has survived the test of time</li>
                                    <li>Retrofit machine with new technology and systems to meet your application requirements</li>
                                </ul>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-title shadow">Why buy from us?</div>
                            <div class="block-content">
                                <ul>
                                    <li>Wide variety of machinery and equipment in stock (FOB Chattanooga, TN), some available for immediate shipment</li>
                                    <li>Competitive pricing</li>
                                    <li>Excellent customer service</li>
                                    <li>Service & support available 24/7</li>
                                    <li>Replacement parts and consumables available for next day delivery</li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-banner">
                            <div class="sidebar-banner-wrapper">
                                <a href="#">
                                    <div class="sidebar-banner-title">New Machinery Listings!</div>
                                    <div class="sidebar-banner-content">
                                        Call to action regarding new machine listings here
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- SIDEBAR
                        =================================-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8">
                    <div class="views-frontpage">
                        <div class="row" ng-repeat="row in model.splitCategories">
                            <div class="col-lg-4 col-sm-4" ng-repeat="col in row"><div class="views-cell" ng-click="selectCategory(col)"><img src="/Content/images/views-image.jpg" /><div class="descr"><div class="descr-bkd"></div><div class="descr-inner">{{col.name}}</div></div></div></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 sidebar-bottom">
                    <!-- SIDEBAR -->
                    <div class="block first">
                        <div class="block-title shadow">Inventory Search</div>
                        <div class="block-content">
                            <div class="search-form clearfix">
                                <div class="form-item">
                                    <input type="text" class="form-text" placeholder="Category, Product ID, Keyword" ng-model="model.search.text" ng-keypress="($event.which === 13)?search():0"/>
                                    <button type="button" class="form-submit"><img src="/Content/images/search_icon.png" width="14px" height="14px" ng-click="search()" /></button>
                                </div>
                                <div class="form-item browse">
                                    <input type="text" class="form-text" placeholder="Browse by Category" ng-model="model.selectedCategory.name" readonly />

                                    <div dropdown class="clearfix" style="position:relative;" aria-haspopup="true" aria-expanded="true" dropdown-append-to-body>
                                        <button type="button" class="form-submit" dropdown-toggle><img src="/Content/images/dropdown.png" width="14px" height="8px" /></button>
                                        <ul class="dropdown-menu" class="dropdown-menu-right">
                                            <li ng-repeat="item in model.categories">
                                                <a ng-click="selectCategory(item)">{{item.name}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block-title shadow">Before and After Gallery</div>
                        <div class="block-content">
                            <p>Check out the possibilities and take a few minutes to view our <a href="#">brefore and after gallery</a> of remanufactured resistance welding equipment and machinery.</p>
                            <img src="/Content/images/before-after.jpg" style="max-width: 280px;" />
                        </div>
                    </div>
                    <div class="block">
                        <div class="block-title shadow">Get in Touch</div>
                        <div class="block-content">
                            <p>Contact our applications department with your requirements. You can rely on the experienced resistance welding experts at T. J. Snow Company to assist you as you begin your search for the most economical and cost effective used spot welders. <p>
                                <div class="get-appl-form clearfix">
                                    <form class="left" name="form">

                                        <input type="text" class="form-text" name="firstName" placeholder="First Name" ng-model="model.user.firstName" required tooltip />

                                        <input type="text" class="form-text  even" placeholder="Last Name" ng-model="model.user.lastName" />
                                        <input type="text" class="form-text " placeholder="Title" ng-model="model.user.title" />
                                        <input type="text" class="form-text even" placeholder="Company" ng-model="model.user.company" required />
                                        <input type="text" class="form-text " placeholder="Phone" ng-model="model.user.phone" />
                                        <input type="email" class="form-text even" placeholder="Email" ng-model="model.user.email" required />
                                        <input type="text" class="form-text " placeholder="City" ng-model="model.user.city" required />
                                        <input type="text" class="form-text even" placeholder="State" ng-model="model.user.state" required />
                                        <textarea class="form-textarea" placeholder="Additional details" ng-model="model.user.message" required></textarea>
                                        <div class="actions">
                                            <input type="submit" class="form-submit" ng-click="sendForm()" ng-disabled="isSending" />
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                    <!-- SIDEBAR
                    =================================-->
                </div>
            </div>
        </div>
    </div>

    <!-- /CONTENT ============-->
</div>

