﻿<ng-include src="'/Scripts/app/breadcrumbs.html'"></ng-include>

<h2 id="forms" class="page-header">Add user</h2>

<div class="alert alert-success" role="alert" ng-show="info">{{info}}</div>
<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<form id="add-user-form" ng-submit="save()" style="position: relative;">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email" required>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" ng-model="user.firstName">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" ng-model="user.lastName">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" ng-change="changed()" required>
        </div>
        <div class="form-group col-md-6">
            <label for="password2">Confirm password</label>
            <input type="password" class="form-control" id="password2" placeholder="Repeat password" ng-model="user.password2" ng-change="changed()" required>
        </div>
    </div>
    <button type="submit" class="btn btn-default" data-loading-text="Loading...">Submit</button>
</form>
