﻿@using hbehr.recaptcha
<script type="text/javascript">
    $(document).ready(function() {
        $("#feedback").submit(function(e) {

            
            var aj = $.post('/api/feedback', $('#feedback').serialize()).success(function() {
                $('#feedback').find("input[type=text], textarea").val("");
                $('.popup, .overlay').css('opacity', '1');
                $('.popup, .overlay').css('visibility', 'visible');
                ga('send', 'event', 'Request Info', 'General Info');
                e.preventDefault();
            }).error(function (response) {
                
                alert(response.responseJSON);
            });

            e.preventDefault();
        });
        
    });
</script>
<div class="form">
    <form id="feedback" method="post">
        <input type="text" placeholder="Full Name" name="LastName" required>
        <input type="text" placeholder="Company" name="Company" required>
        <input type="text" placeholder="Phone" name="Phone" required>
        <input type="text" placeholder="Email" name="Email" required>
        <input type="text" placeholder="City" name="City" required>
        <input type="text" placeholder="State" name="State" required>
        <textarea placeholder=" additional details" name="Message" required></textarea>
        @ReCaptcha.GetCaptcha()
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1053393849;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "et-uCKy97GMQuYem9gM";
        var google_conversion_value = 1.00;
        var google_conversion_currency = "USD";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">


        </script>
        <noscript>

            <div style="display: inline;">
                <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/1053393849/?value=1.00&amp;currency_code=USD&amp;label=et-uCKy97GMQuYem9gM&amp;guid=ON&amp;script=0" />

            </div>
        </noscript>
        <input type="submit" style="margin-top: 10px;" class="submit-home" value="SUBMIT CONTACT">
    </form>
</div>
