<!--14-->

@using TjSnow.Web.Models
@model FrontViewModel

<div class="contents">
    <div>
        <div class="content_left">
            <div class="this_is">
		    <h2> Used Resistance Welding Machinery</h2>
            </div>
            

            <div class="this_is">
		    
                <p>T. J. Snow is an industry-leading manufacturer and supplier of <a href="https://tjsnow.com/welding-machinery/slim/">new standard</a> and <a href="https://tjsnow.com/welding-machinery/custom-machine/">custom designed spot welding machines</a>, <a href="https://tjsnow.com/resistance-welding-supplies/controls/">welder controls</a>, <a href="https://tjsnow.com/resistance-welding-supplies/roman/">transformers</a>, <a href="https://tjsnow.com/resistance-welding-supplies/">parts and accessories</a>. In addition, with over 300 machines in stock, T. J. Snow's crane-equipped warehouse contains a large and diverse inventory of used resistance welders of all types.</p>
                
		<div class="readmore-content">
			<p>Select late model welders received in good condition are <a href="https:www.tjsnow.com/welding-machinery/remanufactured/">REFURBISHED</a> and offered with a 90-day warranty.</p>
                <p>However, most of our used resistance welders are quoted stripped and <a href="https://www.tjsnow.com/welding-machinery/remanufactured/">REMANUFACTURED</a> to like-new condition, complete with a brand new or current model programmable-type refurbished welder control.</p>
                <p>A complete REMAN means we can offer a full one-year warranty, just like a new machine, but at a 25-35% savings.</p>
                <p>We invite you to search our online inventory through the Category links below.</p>
                <p>In a hurry? Check out our <a href="https://usedspotwelder.com/Home/Search/?fastship=true">FAST SHIP</a> welders.</p>
                <p>For further information, call us at 1-800-NOW-SNOW or submit our online RFQ form to get a quick response from our team of experienced Applications Engineers.</p>

		<a href="https://tjsnow.com/used-welders/"><label for="showmore">Browse Used Welders</label></a>
		</div>
		
            </div>
        </div>
	 <div class="clear"></div>
    </div>
  </div>

<!--
<div class="tjs-info-container">
    
<div class="tjs-container">
    <div class="tjs-row">
        <div class="tjs-col-md-4">
            <div class="tjs-main">
                <div class="tjs-service">
                    <div class="service-logo">
                        <img src="/Content/images/photo/icons8-welder-100.png">
                    </div>
                    <h3>Why Buy Used?</h3>
                    <li>Save Money</li>
                    <li>Used Machines have survived the test of time</li>
                    <li>Retrofit machine with new technology and systems to meet your application requirements</li>
                </div>
                <div class="ShadowOne"></div>
                <div class="ShadowTwo"></div>
            </div>
        </div>
        <div class="tjs-col-md-4">
    <div class="tjs-main">
                <div class="tjs-service">
                    <div class="service-logo">
                        <img src="/Content/images/photo/icons8-machine-50.png">
                    </div>
                    <h3>Why Buy TJS?</h3>
                    <li>Wide variety of welders in stock, some available for immediate shipment</li>
                    <li>Applicatons consulation</li>
                    <li>Competitive pricing</li>
                    <li>Excellent customer service</li>
                    <li>Replacement parts and consumables available for next day delivery</li>
                </div>
                <div class="ShadowOne"></div>
                <div class="ShadowTwo"></div>
            </div>
</div>
        <div class="tjs-col-md-4">
    <div class="tjs-main">
                <div class="tjs-service">
                    <div class="service-logo">
                        <img src="/Content/images/photo/icons8-butt-welding-100.png">
                    </div>
                    <h3>New Machinery</h3>
                    <p>We design and build custom solution. Check it out <a href="https://tjsnow.com/about-us/">HERE</a></p>
                </div>
                <div class="ShadowOne"></div>
                <div class="ShadowTwo"></div>
            </div>
</div>
    </div>
</div>
</div>
-->
<div class="content_white"></div>

<div class="title_interweb">
	<h2>Product Category Viewer</h2>
</div>
<div class="content_white">
	<div class="title_mobile">
            <h2>Product Category Viewer</h2>
        </div>
	<div class="content_left d-carousel">
        <ul>
                    <li class="category">
                        <a href="/Home/Search/1">
                            <div><img src="/Content/images/photo/1_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/2">
                            <div><img src="/Content/images/photo/2_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/3">
                            <div><img src="/Content/images/photo/3_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/4">
                            <div><img src="/Content/images/photo/4_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/5">
                            <div><img src="/Content/images/photo/5_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/6">
                            <div><img src="/Content/images/photo/6_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    <li class="category">
                        <a href="/Home/Search/7">
                            <div><img src="/Content/images/photo/7_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
                    
                    <li class="category">
                        <a href="/Home/Search/9">
                            <div><img src="/Content/images/photo/8_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li> 
                    
                    <li class="category">
                        <a href="/Home/Search/15">
                            <div><img src="/Content/images/photo/9_2.jpg" width="125" alt=""></div>
                            
                        </a>
                    </li>
            <li class="categoryFast">
                <a href="/Home/Search/?fastship=true">
                    <div><img src="/Content/images/photo/10_2.jpg" width="125" alt=""></div>
                    <p>Fast Ship</p>
                </a>
            </li>
    <li class="categoryFast">
                <a href="https://tjsnow.com/welding-machinery/">
                    <div><img src="/Content/images/photo/CATEGORY BUTTONS.png" width="125" alt=""></div>
                    <p>Fast Ship</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="info-cards"><div class="content_white"></div>
	    <div class="info-card-header">
		    <h2>Refurbished Resistance Welders</h2>
	   </div>
	   <div class="content_white"></div>
	   <div class="flip-card">
		   <div class="information">
			   <h5>Refurbished Welders</h5>
			   <br>
			   <p>A used resistance welding machine, either the customers existing machine or one selected from T. J. Snow's extensive inventory of used resistance welders, is stripped down to the last nut and bolt. The machine frame is the professionally sandblasted and spray painted with high quality industrial enamel.</p><br><br><br><br><br>
			   <p>Components are all cleaned and checked for wear. Any part not meeting new machine tolerances is either remachined or replaced</p><br><br><br>
			   <p>The welding transformer is subjected to the same tests for moisture and short circuits that a new unit must pass. If any are detected, the transformer is completely rewound with new isolation as required. Learn More <a href="https://tjsnow.com/welding-machinery/remanufactured">HERE</a></p>
		   </div>
		   <div class="flip-card-inner">
		   <div class="flip-card-front">
			   
			   <img src="/Content/images/photo/5709before.jpg">
		  </div>
          <img src="/Content/images/photo/icons8-right-arrow-52.png" class="arrow_img">
		  <div class="flip-card-back">
			  
		  	  <img src="/Content/images/photo/5709after.jpg">
		  </div>
		</div>
	</div>	
</div>
<div class="content_white">
	<div class="contact-holder">
		<h3>CONTACT US</h3>
        <div class="contact-containers">
                <img src="/Content/images/photo/icons8-email-48.png" class="email_img">
                <p>welders@tjsnow.com</p>
        </div>
            <div class="contact-containers">
                <img src="/Content/images/photo/icons8-phone-48.png" width="40px" height="40px">
                <p>1-800-934-0785</p>
            </div>
               <div class="contact-containers">
                   <img src="/Content/images/photo/icons8-clock-48.png" width="40px" height="40px">
                   <p>Mon-Fri, 8am-5pm/ET</p>
               </div>
            
        </div>
    </div>
	<div class="content_white"></div>

        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-content" id="modalcontent">
            </div>
        </div>
