﻿@using TjSnow.Web.Models
@model SearchViewModel
<div class="content">
    <div>
        <div class="top_nav">
            @*<a href="#">SHARE PAGE</a>*@
            <a href="#">BACK</a>
        </div>
        <div class="search_page">
            <div class="keyword">
                <h3>Keyword search results</h3>
                <div class="keyword_filtr">
                    <p>Filter results:</p>
                    <div class="list filter1">
                        <select class="intro-select-ie">
                            <option>KVA</option>
                            <option>KVA1</option>
                            <option>KVA2</option>
                        </select>
                    </div>
                    <div class="list filter2">
                        <select class="intro-select-ie">
                            <option>Voltage</option>
                            <option>Voltage3</option>
                            <option>Voltage4</option>
                        </select>
                    </div>
                    <div class="list filter3">
                        <select class="intro-select-ie">
                            <option>Phase</option>
                            <option>Phase1</option>
                            <option>Phase5</option>
                        </select>
                    </div>
                    <button id="list_button"><img src="img/icons/5.jpg" width="20" height="20" alt="" /></button>
                    <button id="tabel_button"><img src="img/icons/4.jpg" width="20" height="19" alt="" /></button>
                </div>
            </div>
            <div class="content_search_cat_list">
                @foreach (var item in Model.searchResponse.Machines) { 
                <div class="search_category">
                    <div class="search_category_image">
                        <img src="/Content/images/photo/6.jpg" width="92" height="198" alt="" />
                    </div>

                    <div class="search_category_info">
                        <h3>@item.Name</h3>
                        <p><span>Transformer:</span> @item.KVA KVA</p>
                        @if (!string.IsNullOrWhiteSpace(item.Model))
                        {
                            <p><span>Model:</span> @item.Model</p>
                        }
                        
                        <p><span>Voltage:</span> @item.VoltageDescription V, @item.PhaseDescription Phase</p>
                        <p><span>Additional Details:</span>@item.Description</p>
                    </div>
                    <a href="#">VIEW FULL DETAILS »</a>
                </div>
                }
            </div>
            <div class="pagination">
                <div class="pagination_result">
                    <p>results per page:</p>
                    <div class="list">
                        <select class="intro-select-ie">
                            <option>1</option>
                            <option>2</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>70</option>
                        </select>
                    </div>
                </div>
                <div class="pagination_number">
                    <a href="#" class="prev_arrow"></a>
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#" class="next_arrow"></a>
                </div>
            </div>
        </div>
    </div>
</div>
