﻿@using TjSnow.Web.Models
@model SearchViewModel
<script type="text/javascript">
    function goToMachinePage(machineId) {
        window.location = "/Machines/Index/" + machineId;
    }
</script>
<div class="content">
    <div>
        <div class="top_nav">
		 @*<a href="#">SHARE PAGE</a>*@
            <div class="breadcrumbs">
                <p>
                    <a href="#">Used Machinery</a>
                    @if (@Model.searchResponse != null && @Model.searchResponse.SearchRequest != null && @Model.searchResponse.SearchRequest.Category.HasValue && @Model.searchResponse.Machines != null)
                    {
                        <span>»</span>
                        <a href="/home/search/@Model.searchResponse.SearchRequest.Category.Value">@Model.categories.First(c => c.Id == @Model.searchResponse.SearchRequest.Category.Value).Name</a>
                    }
                    else
                    {
                        <span>»</span> <a href=".">Search results</a>
                    }
                    
                </p>
            </div>
            <a href="#">BACK</a>
        </div>
        <div class="search_page">
            <div class="keyword">
                <h3>Keyword search results</h3>
                <div id="filters" class="keyword_filtr">
                    <p id="filterResults">Filter results:</p>
                    <div id="kvaFilter" class="list filter1 kva-filter kva-filter-desctop" style="background: #e6f2f8;font-size: small;text-align: end;">
                        Range  <input id="minKva" type="text" style="width: 30px;text-align: center;border-color: #e7e7e7;border-style: solid;border-width: 1px;height: 18px;"> to <input id="maxKva" type="text" style="
                                width: 30px;
                                text-align: center;
                                border-style: solid;
                                border-color: #e7e7e7;
                                border-width: 1px;
                                height: 18px;
                            "> KVA
                    </div>
                    <div id="voltageFilter" class="list filter2">
                        <select class="intro-select-ie" id="voltage_sel">
                            <option>Voltage</option>
                            @foreach (var item in Model.voltages)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }                        
                        </select>
                    </div>
                    <div id="phaseFilter" class="list filter3">
                        <select class="intro-select-ie" id="phase_sel">
                            <option>Phase</option>
                            @foreach (var item in Model.phases)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }

                        </select>
                    </div>
                    <script>
                        if ($(window).width() < 480) {
                            $('#voltageFilter').prependTo($('#filters'));
                            $('#phaseFilter').prependTo($('#filters'));
                        }
                    </script>
                    <button id="list_button"><img src="/Content/images/icons/4.jpg" width="20" height="20" alt="" /></button>
                    <button id="tabel_button"><img src="/Content/images/icons/5.jpg" width="20" height="19" alt="" /></button>
                </div>
            </div>
            <div class="content_search_cat" id="content_search" data-total="@Model.searchResponse.TotalCount">
                @foreach (var item in Model.searchResponse.Machines)
                {
                    <div class="search_category">
                        <div class="search_category_image">
                            @if (item.MachineImages.Any())
                            {
                                <img src="@item.MachineImages.First().Url" width="92" style="max-height: 192px; overflow: hidden;cursor: pointer" alt="" onclick="goToMachinePage(@item.Id)"/>
                            }
                            else
                            {
                                <img src="/Content/images/no-image-available.png" width="92" height="198" alt="" style="cursor: pointer; height: 180px;" onclick="goToMachinePage(@item.Id)" />
                            }
                        </div>
                        <div class="search_category_info">
                            <h3>@item.StockNumber - @item.Name</h3>
                            @if (item.IsFastShip.HasValue && item.IsFastShip.Value)
                            {
                                <p style="font-weight: bold">FAST SHIP!</p>
                            }
                            @if (item.KVA.HasValue)
                            {
                                <p><span>Transformer:</span> @item.KVA KVA</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(item.Model))
                            {
                                <p><span>Model#:</span> @item.Model</p>
                            }
                            
                            @if (@item.Voltage.HasValue && @item.Phase.HasValue)
                            {
                                <p><span>Voltage:</span> @item.VoltageDescription V, @item.PhaseDescription Phase</p>
                            }
                            @if (@item.Voltage.HasValue && !@item.Phase.HasValue)
                            {
                                <p><span>Voltage:</span> @item.VoltageDescription V</p>
                            }
                            @if (!@item.Voltage.HasValue && @item.Phase.HasValue)
                            {
                                <p><span>Voltage:</span> @item.PhaseDescription Phase</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(@item.Description))
                            {
                                <div class="additional_details_search additional_details_container">
                                    <div style="display: table">
                                        <div style="display: table-row">
                                            <div style="display: table-cell;padding-right: 5px"><span class="additional_details_caption">Additional Details: </span></div>
                                            <div style="display: table-cell;">
                                                <pre class="additional_info_categories">@item.Description</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <a style="width: 88% !important" href="/Machines/Index/@item.Id">VIEW FULL DETAILS »</a>
                    </div>

                }
            </div>
            <div class="pagination" id="pagination" style="width: 100%">
                <div class="pagination_result">
                    <p>results per page:</p>
                    <div class="list">
                           <select class="intro-select-ie" id="countOnPage">
                                <option value="10">10</option>
                                <option value="50">50</option>
                                <option value="100" selected="selected">100</option>
                                <option value="999999">All</option>
                            </select>
                    </div>
                </div>
                <div class="pagination_number">
                    <a href="#" class="prev_arrow"></a>
                    <span class="page_number">1</span>
                    <a href="#" class="page_number">2</a>
                    <a href="#" class="page_number">3</a>
                    <a href="#" class="page_number">4</a>
                    <a href="#" class="page_number">5</a>
                    <a href="#" class="page_number">6</a>
                    <a href="#" class="page_number">7</a>
                    <a href="#" class="page_number">8</a>
                    <a href="#" class="page_number">9</a>
                    <a href="#" class="next_arrow"></a>
                </div>
            </div>
        </div>
    </div>
</div>
