﻿@using TjSnow.Web.Models
@model SearchViewModel

<div class="content content_search" id="content_search">
    <div>
        <div class="content_left">
            <div class="search_result">
                <h2>No Results Found.</h2>
                @*<p>Your search request did not match any items in our catalog. Please try entering a different term or keyword.</p>
                    
                    <p>You may also browse our catalog by Category using the links below.</p>
                    <div class="categorys">
                        @foreach (var item in Model.categories)
                        {
                            <a href="Home/Search/@item.Id" class="category">
                                <div><img src="/Content/images/foto/3.jpg" width="196" height="113" alt="" /></div>
                                <p>@item.Name</p>
                            </a>
                        }
                    </div>*@
            </div>
        </div>
       <div class="clear"></div>
    </div>
</div>
