﻿@using TjSnow.Web.Models
@model SearchViewModel
<div class="content_search_cat" id="content_search" data-total="@Model.searchResponse.TotalCount">
    @foreach (var item in Model.searchResponse.Machines)
    {
        <div class="search_category">
            <div class="search_category_image">
                @if (item.MachineImages.Any(img => img.IsPublished))
                {
                    <img src="@item.MachineImages.First(img=>img.IsPublished).Url" width="92" height="198" alt=""/>
                }
                else
                {
                    <img src="/Content/images/no-image-available.png" width="92" height="198" alt="" style="height: 198px;"/>
                }
                
            </div>
            <div class="search_category_info">
                <h3>@item.StockNumber - @item.Name</h3>
                @if (item.IsFastShip.HasValue && item.IsFastShip.Value)
                {
                    <p style="font-weight: bold">FAST SHIP!</p>
                }
                @if (item.KVA.HasValue)
                {
                    <p><span>Transformer:</span> @item.KVA KVA</p>
                }

                @if (!string.IsNullOrWhiteSpace(item.Model))
                {
                    <p><span>Model#:</span> @item.Model</p>
                }
                @if (@item.Voltage.HasValue && @item.Phase.HasValue)
                {
                    <p><span>Voltage:</span> @item.VoltageDescription V, @item.PhaseDescription Phase</p>
                }
                @if (@item.Voltage.HasValue && !@item.Phase.HasValue)
                {
                    <p><span>Voltage:</span> @item.VoltageDescription V</p>
                }
                @if (!@item.Voltage.HasValue && @item.Phase.HasValue)
                {
                    <p><span>Voltage:</span> @item.PhaseDescription Phase</p>
                }
                @if (!string.IsNullOrWhiteSpace(@item.Description))
                {
                    <div class="additional_details_search additional_details_container">
                        <div style="display: table">
                            <div style="display: table-row">
                                <div style="display: table-cell;padding-right: 5px"><span class="additional_details_caption">Additional Details: </span></div>
                                <div style="display: table-cell;">
                                    <pre class="additional_info_categories">@item.Description</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a href="/Machines/Index/@item.Id">VIEW FULL DETAILS »</a>
        </div>

    }
</div>
@*<div class="pagination" id="pagination">
    <div class="pagination_result">
        <p>results per page:</p>
        <div class="list">
            <select class="intro-select-ie" id="countOnPage">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="999999">All</option>
            </select>
        </div>
    </div>
    <div class="pagination_number">
        <a href="#" class="prev_arrow"></a>
        <span>1</span>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#" class="next_arrow"></a>
    </div>
</div>*@