﻿@using TjSnow.Web.Models
@model SearchViewModel

<div class="content content_search">
    <div>
        <div class="content_left">
            <div class="search_result">
                <h2>No Results Found.</h2>
                <p>Your search request did not match any items in our catalog. Please try entering a different term or keyword.</p>
                
                
	    </div>
	</div>
    </div>
</div>
                <div class="content_white">
                    <div class="content_left d-carousel">
                        <ul>
                            @foreach (var item in Model.categories)
                            {
                                <li class="category">
                                    <a href="/Home/Search/@item.Id">
                                        <div><img src="/Content/images/photo/@item.CategoryImage" width="125" alt="" style="width: 125px;"/></div>
                                        <p class="category_caption">@item.Name</p>
                                    </a>
                                </li>
                            }
                            <li class="category">
                                <a href="/Home/Search/?fastship=true">
                                    <div><img src="/Content/images/photo/FastShip.jpg" width="125" alt="" style="width: 125px; height: 125px;" /></div>
                                    <p class="category_caption">Fast Ship</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
       <!-- <div class="sidebar">
            <div class="sidebar_search">
                <h2>Can’t find what you are looking for?</h2>
                <p>Contact our Applications Engineering Department with your requirements. You can rely on the experienced resistance welding experts at T. J. Snow to assist you as you begin your search for the most economical and cost effective used resistance welding equipment available.</p>
                <h4>All fields required *</h4>
                @{Html.RenderAction("FeedbackForm", "Home");}
	    </div>
	</div>-->
        <div class="clear"></div>
    
