﻿@model TjSnow.Web.Models.MachineDetailsViewModel
@using hbehr.recaptcha
@*@Styles.Render("~/Content/bootstrap")*@
@Scripts.Render("~/bundles/front2")
<link rel="stylesheet" href="/Content/css/prettyPhoto.css" type="text/css"/>
<script src="/Scripts/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    var needReload = false;

    if (needReload) {
        if (window.onpopstate !== undefined) {
            window.onpopstate = function(event) {
                location.reload();
            };
        } else {
            window.onhashchange = function(event) {
                location.reload();
            };
        }
    }

    needReload = true;

</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#feedback").submit(function(e) {

            var aj = $.post('/api/feedback', $('#feedback').serialize()).success(function () {
                ga('send', 'event', 'Request Info', 'Specific Machine');
                $('#feedback').find("input[type=text], textarea").val("");
                $('.popup, .overlay').css('opacity', '1');
                $('.popup, .overlay').css('visibility', 'visible');
                ga('send', 'event', 'Request Info', 'General Info');
            }).error(function (result, exception) {
                alert(result.responseJSON);
            });

            e.preventDefault();
        });

        $("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: false });
    });
</script>
@*<link href="/Content/css/lightbox.css" rel="stylesheet" />
<script src="/Scripts/lightbox.js"></script>*@
<div class="content">
    <div>
        <div class="top_nav">
            <div class="breadcrumbs">
                <p>
                    <a href="#">Used Machinery</a>
                    @foreach (var cat in @Model.Machine.Categories)
                    {
                        <span>»</span><a href="/home/search/@cat.Id">@cat.Name</a>
                    }
                    <span>»</span><span>@Model.Machine.StockNumber - @Model.Machine.Name</span>
                </p>
            </div>
            @Html.ActionLink("SHARE ", "ShareMachinePage", "Machines", new{machineId = @Model.Machine.Id}, new { @class = "modal-link" })
            @Html.ActionLink("PRINT ", "Print", "Machines", new { id = @Model.Machine.Id }, new { @class = "hide_mobile" })
            @*<a href="#" class="hide_mobile">PRINT PAGE</a>*@
            <a href="#">BACK</a>
        </div>
        <div class="content_left product_left">
            <div class="product_foto">
                <a style="display: none;" class="text-visible">
                    <h2 style="background-color: aliceblue !important; color: skyblue !important; height: 30px;">
                        View Full Category Results
                    </h2>
                </a>
                <h2 style="color: #d85109">@Model.Machine.StockNumber - @Model.Machine.Name</h2>
                <div class="product_foto_img">
                    @if (@Model.Machine.Images.Any())
                    {
                        <a href="@Model.Machine.Images.First().Url" rel="prettyPhoto[mixed]">
                            <img id="mainPhoto" src="@Model.Machine.Images.First().Url" alt="" style="width: 100%" />
                        </a>

                    }
                    else
                    {

                        <a href="/Content/images/no-image-available.png" rel="prettyPhoto[mixed]">
                            <img id="mainPhoto" src="/Content/images/no-image-available.png" alt="" style="width: 75%" />
                        </a>
                    }

                </div>
                @* @if (@Model.Images.Count > 0) {*@
                <div class="d-carousel">

                    <script>
                        function onAdditionalImageClick(image) {

                            var mainPhotoUrl = $('#mainPhoto').attr('src');

                            var currentSrc = image.src;

                            $('#mainPhoto').attr('src', currentSrc);

                            image.src = mainPhotoUrl;
                        }
                    </script>

                    <h4>Additional photos (click for larger image)</h4>
                    <ul class="carousel">
                        @foreach (var image in @Model.Machine.Images.Skip(1))
                        {
                            <li>
                                <a href="@image.Url" rel="prettyPhoto[mixed]">
                                    <div class="image">
                                        <img src="@image.Url" width="118" height="118" alt="" />
                                    </div>
                                </a>
                            </li>
                        }
                        @foreach (var video in @Model.Machine.Videos)
                        {
                            <li>
                                <a href="@video.WatchUrl" rel="prettyPhoto[mixed]" title="">
                                    <div class="image">
                                        <img src="/Content/images/youtube_logo.png" width="118" height="118" alt="" />
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                @*  }*@
            </div>
        </div>
        <div class="sidebar sidebar_product">
            <div class="specifications">
                <h3>Machine Specifications</h3>
                <div class="product_info">
                <div class="tabel">
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.StockNumber))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Stock Number:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.StockNumber</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Name))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Name:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Name</p>
                        </div>
                    </div>
                }
                @if (@Model.Machine.KVA.HasValue)
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Transformer:</span>
                        </div>
                        <div class="cell_info">
                            <p>@string.Format("{0:G29}", @Model.Machine.KVA) KVA</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Manufacturer))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Manufacturer:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Manufacturer</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Model))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Mfg. Model Number</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Model</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) || !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Voltage:</span>
                        </div>
                        <div class="cell_info">
                            @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.VoltageDescription Volts, @Model.Machine.PhaseDescription Phase</p>
                            }

                            @if (string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.PhaseDescription Phase</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.VoltageDescription Volts</p>
                            }
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ThroatDepth))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Throat Depth:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.ThroatDepth in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecVolts))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Secondary Volts:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.SecVolts</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecAmps))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Secondary Amps:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.SecAmps</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Serial))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Serial Number:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Serial</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.AirType))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Air Type:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.AirType</p>
                        </div>
                    </div>
                }
                @if (@Model.Machine.CylinderDiameter.HasValue)
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Cylinder Diameter:</span>
                        </div>
                        <div class="cell_info">
                            <p>@string.Format("{0:G29}", @Model.Machine.CylinderDiameter) in</p>
                        </div>
                    </div>
                }
                @if (@Model.Machine.MaxForce.HasValue)
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Max Force:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.MaxForce lbf</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.InitiationDescription))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Initiation:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.InitiationDescription</p>
                        </div>
                    </div>
                }
                @if (@Model.Machine.HolderDiameter.HasValue)
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Holder Diameter:</span>
                        </div>
                        <div class="cell_info">
                            <p>@string.Format("{0:G29}", @Model.Machine.HolderDiameter) in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Control))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Control:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Control</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Service))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Service:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.Service</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenUpper))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Platen Upper:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.PlatenUpper in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenLower))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Platen Lower:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.PlatenLower in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.TSlotSpacing))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>TSlot Spacing:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.TSlotSpacing in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.TapSwitch))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Tap Switch:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.TapSwitch</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.CylinderStroke))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Cylinder Stroke:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.CylinderStroke in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaLower))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Arm Dia Lower:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.ArmDiaLower in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaUpper))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Arm Dia Upper:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.ArmDiaUpper in</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.HeadType))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Head Type:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.HeadType</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.UpperDrive))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Upper Drive:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.UpperDrive</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.LowerDrive))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Lower Drive:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.LowerDrive</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelUpper))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Wheel Upper:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.WheelUpper in DIA</p>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelLower))
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>Wheel Lower:</span>
                        </div>
                        <div class="cell_info">
                            <p>@Model.Machine.WheelLower in DIA</p>
                        </div>
                    </div>
                }
                @if (@Model.Machine.FastShip.HasValue && @Model.Machine.FastShip.Value)
                {
                    <div class="row">
                        <div class="cell_name">
                            <span>FAST SHIP Machine:</span>
                        </div>
                        <div class="cell_info">
                            <p>YES</p>
                        </div>
                    </div>
                }

                </div>
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WebDescription))
                {
                    <div class="detils" style="display: table">
                    <div style="display: table-row">
                        <div style="display: table-cell"><p><span>Additional Details:&nbsp;</span></p></div>
                        <div style="display: table-cell"><pre class="additional_info">@Model.Machine.WebDescription</pre></div>
                    </div>
                    
                    @*<div class="cell_name">Additonal Details:</div>
                        <div class="cell_info">
                            <textarea style="border-style: none;" rows="5">
                                @Model.Machine.WebDescription
                            </textarea>
                        </div>*@
                </div>
                }
                </div>
            </div>
            <div class="quote">
                <div class="quote_title">
                    <h3>REQUEST QUOTE!</h3>
                    <p>Please submit the form to request additional information.</p>
                </div>
                <div class="quote_body">
                    <div class="form">
                        <p id="requestQuoteSuccessMessage" style="display: none">We're processing your request for information, and a TJ Snow representative will be in touch with you shortly</p>
                        <form id="feedback" method="post">
                            <p style="display: none" class="text-visible">For immediate assistance, ask to speak to an Application Engineer at <br /><span>1-800-669-7669</span> or email <a href="#">welders@tjsnow.com</a>. Be sure to reference stock  <span>@Model.Machine.StockNumber</span>.</p>
                            <div class="form_body">
                                <h4>All fields required</h4>
                                <input type="text" placeholder="Full Name" name="LastName" required tabindex="2">
                                <input type="text" placeholder="Company" name="Company" required tabindex="1">
                                <input type="text" placeholder="Phone" name="Phone" required tabindex="4">
                                <input type="text" placeholder="Email" name="Email" required tabindex="3">
                                <input type="text" placeholder="State" name="State" required tabindex="6">
                                <input type="text" placeholder="City" name="City" required tabindex="5">
                                <textarea placeholder=" additional details" name="Message" required tabindex="7"></textarea>
                                @ReCaptcha.GetCaptcha()
                                <input type="hidden" name="MachineStockNumber" value="@Model.Machine.StockNumber"/>
                                <script type="text/javascript">
                                /* <![CDATA[ */
                                var google_conversion_id = 1053393849;
                                var google_conversion_language = "en";
                                var google_conversion_format = "3";
                                var google_conversion_color = "ffffff";
                                var google_conversion_label = "et-uCKy97GMQuYem9gM";
                                var google_conversion_value = 1.00;
                                var google_conversion_currency = "USD";
                                var google_remarketing_only = false;
                                /* ]]> */
                                </script>
                                <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                                </script>
                                <noscript>

                                    <div style="display: inline;">
                                        <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/1053393849/?value=1.00&amp;currency_code=USD&amp;label=et-uCKy97GMQuYem9gM&amp;guid=ON&amp;script=0" />

                                    </div>
                                </noscript>
                            </div>
                            <div class="form_info">
                                <p class="text-invisible">
                                    For immediate assistance, ask to speak to an Application Engineer at <br /><span>1-800-669-7669</span> or email <a href="#">welders@tjsnow.com</a>. Be sure to reference stock <span>@Model.Machine.StockNumber</span>.
                                </p>
                                <input type="submit" value="SUBMIT CONTACT">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="content_bottom">
    <div>
        <div class="search_history">
            <div class="search_history_text">
                <p><span>Search History</span> These are some of your recently viewed items.</p>
            </div>
            <div class="d-carousel">
                <ul class="carousel">
                    @foreach (var machine in @Model.RecentMachines)
                    {
                        <li>
                            <a href="@Url.Action("Index","Machines",new{id = machine.Id})">
                                <div class="image">
                                    @if (machine.Images.FirstOrDefault(img => img.IsPublished) != null)
                                    {
                                        <img src="@machine.Images.OrderBy(img=>img.SortOrder).FirstOrDefault(img=>img.IsPublished).Url" width="118" height="118" alt="" />
                                    }
                                    else
                                    {
                                        <img src="/Content/images/no-image-available.png" width="118" height="118" alt="" />
                                    }

                                </div>
                                <p>
                                    @machine.Name
                                </p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="recommendation">
            <h2>Category Recommendations</h2>
            <div class="content_search_cat">
                @foreach (var machine in @Model.RelatedMachines)
                {
                    <div class="search_category">
                        <div class="search_category_image">
                            @if (machine.Images.FirstOrDefault(img => img.IsPublished) != null)
                            {
                                @*<a href="@Url.Action("Index","Machines",new{id = machine.Id})">*@
                                    <img src="@machine.Images.OrderBy(img=>img.SortOrder).FirstOrDefault(img=>img.IsPublished).Url" height="198" alt="" style="cursor: pointer" onclick="location.href = '/Machines/Index/'+@machine.Id;" />
                                @*</a>*@
                            }
                            else
                            {
                                @*<a href="@Url.Action("Index","Machines",new{id = machine.Id})">*@
                                    <img src="/Content/images/no-image-available.png" height="198" alt="" style="height: 200px !important; cursor: pointer;" onclick="location.href = '/Machines/Index/'+@machine.Id;" />
                                @*</a>*@
                            }
                        </div>
                        <div class="search_category_info">
                            <h3 style="cursor: pointer" onclick="location.href = '/Machines/Index/'+@machine.Id;">@machine.Name</h3>
                            @if (@machine.KVA.HasValue)
                            {
                               <p>
                                    <span>Transformer:</span> @string.Format("{0:G29}", @machine.KVA) KVA
                              </p> 
                            }
                            @if (!string.IsNullOrWhiteSpace(@machine.Model))
                            {
                                <p>
                                    <span>Model#:</span> @machine.Model
                                </p>
                            }
                            @if (!string.IsNullOrWhiteSpace(@machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@machine.PhaseDescription))
                            {
                                <p>
                                    <span>Voltage:</span> @machine.VoltageDescription Volts, @machine.PhaseDescription Phase
                                </p>
                            }
                            @if (!string.IsNullOrWhiteSpace(@machine.VoltageDescription) && string.IsNullOrWhiteSpace(@machine.PhaseDescription))
                            {
                                <p>
                                    <span>Voltage:</span> @machine.VoltageDescription Volts
                                </p>
                            }
                            @if (string.IsNullOrWhiteSpace(@machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@machine.PhaseDescription))
                            {
                                <p>
                                    <span>Voltage:</span> @machine.PhaseDescription Phase
                                </p>
                            }
                        </div>
                        <a href="@Url.Action("Index","Machines",new{id = machine.Id})">VIEW FULL DETAILS »</a>
                    </div>
                }
            </div>
        </div>

    </div>
</div>


