﻿@model TjSnow.Web.Models.MachineDetailsViewModel
@*@Styles.Render("~/Content/bootstrap")*@
@Scripts.Render("~/bundles/front2")
<div class="content">
    <div>
        <div class="top_nav">
            <div class="breadcrumbs">
                <p>
                    <a href="#">Used Machinery</a>
                    @foreach (var cat in @Model.Machine.Categories)
                    {
                        <span>»</span> <a href="/home/search/@cat.Id">@cat.Name</a>
                    }

                </p>
            </div>
            @Html.ActionLink("SHARE ", "ShareMachinePage", "Machines", new { machineId = @Model.Machine.Id }, new { @class = "modal-link" })
            <a href="#" class="hide_mobile">PRINT PAGE</a>
            <a href="#">BACK</a>
        </div>
        <div class="content_left product_left">
            <div class="product_foto">
                <a style="display: none;" class="text-visible">
                    <h2 style="background-color: aliceblue !important; color: skyblue !important; height: 30px;">
                        View Full Category Results
                    </h2>
                </a>
                <h2 style="color: darkgrey">@Model.Machine.Categories.First().Name</h2>
                <div class="product_foto_img">
                    @if (@Model.Machine.Images.Any())
                    {
                        <img id="mainPhoto" src="@Model.Machine.Images.First().Url" alt="" style="width: 100%" />
                    }

                </div>
                @* @if (@Model.Images.Count > 0) {*@
                <div class="d-carousel">

                    <script>
                        function onAdditionalImageClick(image) {

                            var mainPhotoUrl = $('#mainPhoto').attr('src');

                            var currentSrc = image.src;

                            $('#mainPhoto').attr('src', currentSrc);

                            image.src = mainPhotoUrl;
                        }
                    </script>

                    <h4>Additional photos (click for larger image)</h4>
                    <ul class="carousel">
                        @foreach (var image in @Model.Machine.Images.Skip(1))
                        {
                            <li>
                                <a style="cursor:pointer;">
                                    <div class="image">
                                        <img src="@image.Url" width="118" height="118" alt="" onclick="onAdditionalImageClick(this);" />
                                    </div>
                                </a>
                            </li>

                        }
                    </ul>
                </div>
                @*  }*@
            </div>
        </div>
        <div class="sidebar sidebar_product">
            <div class="specifications">
                <h3>Machine Specifications</h3>
                <div class="product_info">
                    <div class="tabel">
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.StockNumber))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Stock Number:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.StockNumber</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Name))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Name:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Name</p>
                                </div>
                            </div>
                        }
                        @if (@Model.Machine.KVA.HasValue)
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Transformer:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@string.Format("{0:G29}", @Model.Machine.KVA) KVA</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Manufacturer))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Manufacturer:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Manufacturer</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Model))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Mfg. Model Number</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Model</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) || !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Voltage:</span>
                                </div>
                                <div class="cell_info">
                                    @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                                    {
                                        <p>@Model.Machine.VoltageDescription Volts, @Model.Machine.PhaseDescription Phase</p>
                                    }

                                    @if (string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                                    {
                                        <p>@Model.Machine.PhaseDescription Phase</p>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                                    {
                                        <p>@Model.Machine.VoltageDescription Volts</p>
                                    }
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.ThroatDepth))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Throat Depth:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.ThroatDepth in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecVolts))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Secondary Volts:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.SecVolts</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecAmps))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Secondary Amps:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.SecAmps</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Serial))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Serial Number:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Serial</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.AirType))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Air Type:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.AirType</p>
                                </div>
                            </div>
                        }
                        @if (@Model.Machine.CylinderDiameter.HasValue)
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Cylinder Diameter:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@string.Format("{0:G29}", @Model.Machine.CylinderDiameter) in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.InitiationDescription))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Initiation:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.InitiationDescription</p>
                                </div>
                            </div>
                        }
                        @if (@Model.Machine.MaxForce.HasValue)
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Max Force:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.MaxForce lbf</p>
                                </div>
                            </div>
                        }
                        @if (@Model.Machine.HolderDiameter.HasValue)
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Holder Diameter:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@string.Format("{0:G29}", @Model.Machine.HolderDiameter) in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Control))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Control:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Control</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.Service))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Service:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.Service</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenUpper))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Platen Upper:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.PlatenUpper in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenLower))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Platen Lower:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.PlatenLower in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.TSlotSpacing))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>TSlot Spacing:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.TSlotSpacing in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.TapSwitch))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Tap Switch:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.TapSwitch</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.CylinderStroke))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Cylinder Stroke:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.CylinderStroke in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaLower))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Arm Dia Lower:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.ArmDiaLower in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaUpper))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Arm Dia Upper:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.ArmDiaUpper in</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.HeadType))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Head Type:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.HeadType</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.UpperDrive))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Upper Drive:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.UpperDrive</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.LowerDrive))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Lower Drive:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.LowerDrive</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelUpper))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Wheel Upper:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.WheelUpper in DIA</p>
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelLower))
                        {
                            <div class="row">
                                <div class="cell_name">
                                    <span>Wheel Lower:</span>
                                </div>
                                <div class="cell_info">
                                    <p>@Model.Machine.WheelLower in DIA</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="detils">
                        <p><span>Additonal Details:</span>@Model.Machine.WebDescription</p>
                    </div>
                </div>
            </div>
            <div class="quote">
                <div class="quote_title">
                    <h3>REQUEST QUOTE!</h3>
                    <p>Please submit the form to request additional information.</p>
                </div>
                <div class="quote_body">
                    <div class="form">

                        <form id="feedback" method="post" action="/api/feedback">
                            <p style="display: none" class="text-visible">For immediate assistance, ask to speak to an Application Engineer at <br /><span>1-800-669-7669</span> or email <a href="#">welders@tjsnow.com</a>. Be sure to reference stock  <span>@Model.Machine.StockNumber</span>.</p>
                            <div class="form_body">
                                <h4>All fields required</h4>
                                <input type="text" placeholder="Full Name" name="LastName" required tabindex="2">
                                <input type="text" placeholder="Company" name="Company" required tabindex="1">
                                <input type="text" placeholder="Phone" name="Phone" required tabindex="4">
                                <input type="text" placeholder="Email" name="Email" required tabindex="3">
                                <input type="text" placeholder="State" name="State" required tabindex="6">
                                <input type="text" placeholder="City" name="City" required tabindex="5">
                                <textarea placeholder=" additional details" name="Message" required tabindex="7"></textarea>
                                <input type="hidden" name="MachineName" value="@Model.Machine.Name" />
                            </div>
                            <div class="form_info">
                                <p class="text-invisible">
                                    For immediate assistance, ask to speak to an Application Engineer at <br /><span>1-800-669-7669</span> or email <a href="#">welders@tjsnow.com</a>. Be sure to reference stock <span>@Model.Machine.StockNumber</span>.
                                </p>
                                <input type="submit" value="SUBMIT CONTACT">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="content_bottom">
    <div>
        <div class="search_history">
            <div class="search_history_text">
                <p><span>Search History</span> These are some of your recently viewed items.</p>
            </div>
            <div class="d-carousel">
                <ul class="carousel">
                    @foreach (var machine in @Model.RecentMachines)
                    {
                        <li>
                            <a href="@Url.Action("Index","Machines",new{id = machine.Id})">
                                <div class="image">
                                    @if (machine.Images.FirstOrDefault(img => img.IsPublished) != null)
                                    {
                                        <img src="@machine.Images.OrderBy(img=>img.SortOrder).FirstOrDefault(img=>img.IsPublished).Url" width="118" height="118" alt="" />
                                    }
                                    else
                                    {
                                        <img src="/Content/images/carousel/1.jpg" width="118" height="118" alt="" />
                                    }

                                </div>
                                <p>
                                    @machine.Name
                                </p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="recommendation">
            <h2>Category Recommendations</h2>
            <div class="content_search_cat">
                @foreach (var machine in @Model.RelatedMachines)
                {
                    <div class="search_category">
                        <div class="search_category_image">
                            @if (machine.Images.FirstOrDefault(img => img.IsPublished) != null)
                            {
                                @*<a href="@Url.Action("Index","Machines",new{id = machine.Id})">*@
                                <img src="@machine.Images.OrderBy(img=>img.SortOrder).FirstOrDefault(img=>img.IsPublished).Url" height="198" alt="" />
                                @*</a>*@
                            }
                            else
                            {
                                @*<a href="@Url.Action("Index","Machines",new{id = machine.Id})">*@
                                <img src="/Content/images/photo/6.jpg" height="198" alt="" />
                                @*</a>*@
                            }
                        </div>
                        <div class="search_category_info">
                            <h3>@machine.Name</h3>
                            <p>
                                <span>Transformer:</span> @string.Format("{0:G29}", @machine.KVA) KVA
                            </p>
                            <p>
                                <span>Model#:</span> @machine.Model
                            </p>
                            <p>
                                <span>Voltage:</span> @machine.VoltageDescription Volts, @machine.PhaseDescription Phase
                            </p>
                        </div>
                        <a href="@Url.Action("Index","Machines",new{id = machine.Id})">VIEW FULL DETAILS »</a>
                    </div>
                }
            </div>
        </div>

    </div>
</div>


