﻿@model TjSnow.Web.Models.MachineDetailsViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "T.J. Snow" : ViewBag.Title)</title>
    <meta name="description" content="@(ViewBag.MetaDescription ?? string.Empty)" />
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic&subset=latin,cyrillic">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic">
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/Content/css/style.css">
    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/TrackingCodeHeader.html")))
</head>
<body class="print-page">
    <div class="wraper">
        <div>
            <div class="content">
            <div>
                <img src="/Content/images/logo.jpg" width="369" height="104" alt=""/>
		
            </div>
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Name))
                {
                    <h1>
                        @Model.Machine.Name
                    </h1>
                }


            <div>
            <div>
                <ul class="image-print">

                <li>


                <h2>Machine Specifications</h2>
		

		

                <table>
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.StockNumber))
                {
                    <tr>
                        <td>
                            <span>Stock Number:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.StockNumber</p>
                        </td>
                    </tr>
                }

                @if (@Model.Machine.KVA.HasValue)
                {
                    <tr>
                        <td>
                            <span>Transformer:</span>
                        </td>
                        <td>
                            <p>@string.Format("{0:G29}", @Model.Machine.KVA) KVA</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Manufacturer))
                {
                    <tr>
                        <td>
                            <span>Manufacturer:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.Manufacturer</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Model))
                {
                    <tr>
                        <td>
                            <span>Mfg. Model Number</span>
                        </td>
                        <td>
                            <p>@Model.Machine.Model</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) || !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                {
                    <tr>
                        <td>
                            <span>Voltage:</span>
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.VoltageDescription Volts, @Model.Machine.PhaseDescription Phase</p>
                            }

                            @if (string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && !string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.PhaseDescription Phase</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(@Model.Machine.VoltageDescription) && string.IsNullOrWhiteSpace(@Model.Machine.PhaseDescription))
                            {
                                <p>@Model.Machine.VoltageDescription Volts</p>
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ThroatDepth))
                {
                    <tr>
                        <td>
                            <span>Throat Depth:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.ThroatDepth in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecVolts))
                {
                    <tr>
                        <td>
                            <span>Secondary Volts:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.SecVolts</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.SecAmps))
                {
                    <tr>
                        <td>
                            <span>Secondary Amps:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.SecAmps</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Serial))
                {
                    <tr>
                        <td>
                            <span>Serial Number:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.Serial</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.AirType))
                {
                    <tr>
                        <td>
                            <span>Air Type:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.AirType</p>
                        </td>
                    </tr>
                }
                @if (@Model.Machine.CylinderDiameter.HasValue)
                {
                    <tr>
                        <td>
                            <span>Cylinder Diameter:</span>
                        </td>
                        <td>
                            <p>@string.Format("{0:G29}", @Model.Machine.CylinderDiameter) in</p>
                        </td>
                    </tr>
                }
                @if (@Model.Machine.MaxForce.HasValue)
                {
                    <tr>
                        <td>
                            <span>Max Force:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.MaxForce lbf</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.InitiationDescription))
                {
                    <tr>
                        <td>
                            <span>Initiation:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.InitiationDescription</p>
                        </td>
                    </tr>
                }
                @if (@Model.Machine.HolderDiameter.HasValue)
                {
                    <tr>
                        <td>
                            <span>Holder Diameter:</span>
                        </td>
                        <td>
                            <p>@string.Format("{0:G29}", @Model.Machine.HolderDiameter) in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Control))
                {
                    <tr>
                        <td>
                            <span>Control:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.Control</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.Service))
                {
                    <tr>
                        <td>
                            <span>Service:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.Service</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenUpper))
                {
                    <tr>
                        <td>
                            <span>Platen Upper:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.PlatenUpper in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.PlatenLower))
                {
                    <tr>
                        <td>
                            <span>Platen Lower:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.PlatenLower in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.TSlotSpacing))
                {
                    <tr>
                        <td>
                            <span>TSlot Spacing:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.TSlotSpacing in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.TapSwitch))
                {
                    <tr>
                        <td>
                            <span>Tap Switch:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.TapSwitch</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.CylinderStroke))
                {
                    <tr>
                        <td>
                            <span>Cylinder Stroke:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.CylinderStroke in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaLower))
                {
                    <tr>
                        <td>
                            <span>Arm Dia Lower:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.ArmDiaLower in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.ArmDiaUpper))
                {
                    <tr>
                        <td>
                            <span>Arm Dia Upper:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.ArmDiaUpper in</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.HeadType))
                {
                    <tr>
                        <td>
                            <span>Head Type:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.HeadType</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.UpperDrive))
                {
                    <tr>
                        <td>
                            <span>Upper Drive:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.UpperDrive</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.LowerDrive))
                {
                    <tr>
                        <td>
                            <span>Lower Drive:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.LowerDrive</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelUpper))
                {
                    <tr>
                        <td>
                            <span>Wheel Upper:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.WheelUpper in DIA</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WheelLower))
                {
                    <tr>
                        <td>
                            <span>Wheel Lower:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.WheelLower in DIA</p>
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(@Model.Machine.WebDescription))
                {
                    <tr>
                        <td>
                            <span>Additonal Details:</span>
                        </td>
                        <td>
                            <p>@Model.Machine.WebDescription</p>
                        </td>
                    </tr>
                }
                </table>
	

                </li>
                    @if (Model.Machine.Images != null && Model.Machine.Images.Any())
                    {
                        foreach (var image in Model.Machine.Images)
                        {
                            <li><img src="@image.Url"></li>
                        }
                    }
                    else
                    {
                        <li><img src="/Content/images/no-image-available.png"/></li>
                    }
                </ul>
            </div>

            <div style="clear: both;">&nbsp;</div>

            </div>
            <div>
                
            </div>
                T. J. Snow, Company 120 Nowlin Lane, Chattanooga, TN 37421 | <a href="http://www.tjsnow.com/about-us/contact-us/">welders@tjsnow.com</a> 423-894-6234
            </div>
        </div>
</div>
@Html.Raw(File.ReadAllText(Server.MapPath("~/Content/TrackingCodeFooter.html")))
</body>
</html>
