﻿@model TjSnow.Web.Models.Front.Request.ShareMachinePageRequest


<div class="modal-body share-machine-modal" style="">

    @Html.HiddenFor(x => x.MachineId)
    <div class="row" style="padding-top: 0px;">
        <div class="col-md-12 modal-title-blue">
    Share
            </div>
      </div>    
    <div style="padding: 20px 20px 10px;">
        <div class="row">
            <div class="col-md-4">
                <span>From:</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.PersonsName, new { style = "width: 97%" })
                <small id="personNameRequired" style="display: none;color:red">Required</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <span>To:</span>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.Email, new { style = "width: 97%" })
                <small id="emailRequired" style="display: none; color: red">Required</small>
                <small id="emailNotValid" style="display: none;color: red">Please, enter valid email</small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <span>Additional Info:</span>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(x => x.AdditionalInformation, new { style = "width: 97%;" })
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right">Cancel</button>
            <input type="submit" id="approve-btn" class="btn btn-default" style="background-color: #0094cc; border-color: #0094cc; color: #fff; float: right; margin-right: 15px;" value="Submit">
        </div>

        @Scripts.Render("~/bundles/jqueryval")
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {

            var personName = $("#PersonsName").val();
            var email = $("#Email").val();
            var isValid = true;

            if (!personName) {

                $("#personNameRequired").show();

                isValid = false;
            } else {
                $("#personNameRequired").hide();
            }

            if (!email) {

                $("#emailRequired").show();

                isValid = false;
            } else {
                
                $("#emailRequired").hide();

                var emailRegex = new RegExp(/^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i);

                if (!emailRegex.test(email)) {

                    $("#emailNotValid").show();

                    isValid = false;
                } else {
                    $("#emailNotValid").hide();
                }
            }

            if (isValid) {

                $.ajax({
                    url: '@Url.Action("ShareMachinePage","Machines")',
                    type: 'POST',
                    data: {
                        PersonsName: $("#PersonsName").val(),
                        Email: $("#Email").val(),
                        AdditionalInformation: $("#AdditionalInformation").val(),
                        MachineId: document.getElementById('MachineId').getAttribute('value')
                    }
                });

                $('#modal-container').modal('hide');
            }

            
        });
    });
</script>

<script type="text/javascript">
    $(function() {

        $('#CancelModal').on('click', function() {
            return false;
        });
    });
</script>
