﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/cssAdmin")
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <link href="~/Content/results.css" rel="stylesheet">
    <link href="~/Content/addmachine.css" rel="stylesheet" />
    <link href="~/Content/machineedit.css" rel="stylesheet" />
    <link href="~/Content/datatables.bootstrap.css" rel="stylesheet" />
    <base href="/">
</head>
<body>
    <div ng-class="{'container' : location.path() != '/admin/grid-view', 'full-width' : location.path() == '/admin/grid-view'}" ng-app="TjSnow" keypress-events>

        <div class="header clearfix">
		<!-- <div class="pull-right user-info">@ViewBag.Username <a href="/admin/password/reset?userId=1&code=code">Reset Password</a> / <a href="@Url.Action("Logout", "Account")">Log out</a></div> -->
		<div class="pull-right user-info">@ViewBag.Username / <a href="@Url.Action("Logout", "Account")">Log Out</a></div>
            <h3><a href="https://usedspotwelder.com/"><img class="admin-logo" src="~/Content/images/form-signin_logo2.png"></a></h3>
        </div>

        @*<ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
                <li class="active">Data</li>
                <li class="pull-right">
                    <a href="#" class="add-machine">Add machine</a>
                </li>
            </ol>*@

        <div ng-view=""></div>

        <footer class="footer" ng-if="location.path() != '/admin/grid-view'">
            <p>&copy; T. J. Snow Co</p>
        </footer>

    </div> <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

</body>
</html>
