@charset "UTF-8";

body {
  font: normal 14px/1.4 'OpenSans', Arial, sans-serif;
  text-rendering: geometricPrecision;
  background-color: #f2f2f2;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  // TODO
  padding: 60px 0 0 0;
}

a {
  color: #38b7e7;
  padding: 0 2px;

  &:hover, 
  &:focus {
    color: #55cbf7;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    color: #ffffff;
    background-color: #3d8dac;
  }
}

.semibold {
  font-family: 'OpenSans-Semibold', Arial, sans-serif;
}