@mixin vendor-prefix($name, $arg) {
  -webkit-#{$name}: #{$arg};
  -ms-#{$name}: #{$arg};
  -moz-#{$name}: #{$arg};
  -o-#{$name}: #{$arg};
  #{$name}: #{$arg};
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -moz-opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {  
    @content;
  }
}

@mixin clearfix {
  clear: both;

  &:before {
    content: " ";
    display: table;
  }
  
  &:after {
    content: " ";
    display: table;
    clear: both; 
  }
  *zoom: 1; 
}

@mixin background-size($size) {
  @include vendor-prefix(background-size, $size);
}

@mixin transition($trans) {
  @include vendor-prefix(transition, #{$trans});
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: #{$shadow};
  -moz-box-shadow: #{$shadow};
  box-shadow: #{$shadow};
}

@mixin transform($trans) {
  -ms-transform: #{$trans};
  -webkit-transform: #{$trans};
  transform: #{$trans};
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}