﻿<ng-include src="'/Scripts/app/breadcrumbs.html'"></ng-include>
<div class="row norightmargin">
    <div class="col-md-8">
        <div style="display: table;width: 100%">
            <div style="display: table-row">
                <div style="display: table-cell;width: 25%; vertical-align: middle">
                    <label class="sortpanellabel machinesfound semibold">{{machinesFoundCount}} machines found</label>
                </div>
                <div style="display: table-cell;width: 23%; vertical-align: middle">
                    <div class="form-group">
                        <div class="col-md-4 nopadding"><label for="sortBy" class="sortpanellabel semibold">Sort by </label></div>
                        <div class="col-md-8 nopadding"><dropdown id="sortBy" items="sortparams" ng-model="selectedSortParam" on-changed="orderedSearch(param)" btn-class=" btn-default btn-block sortpanelbtn"></dropdown></div>
                    </div>
                </div>
                <div style="display: table-cell;width: 32%; vertical-align: middle">
                    <div class="form-group">
                        <div class="col-md-1 nopadding"><span style="width: 100%"></span></div>
                        <div class="col-md-4 nopadding">
                            <label for="statusesDropdown" class="sortpanellabel semibold">Status</label>
                        </div>
                        <div class="col-md-7 nopadding">
                            <dropdown id="statusesDropdown" items="statuses" ng-model="selectedStatus" on-changed="statusSearch(param)" btn-class="btn-default btn-block sortpanelbtn"></dropdown>
                        </div>
                    </div>
                </div>
                <div style="display: table-cell; width: 20%; vertical-align: middle">
                    <div class="form-group" style="margin-bottom: 24px">
                        <div class="col-md-12">
                            <div class="checkbox text-left">
                                <input id="fastShipOnly" name="fastShipOnly" type="checkbox" ng-model="fastShipOnly" ng-change="doSearch();">
                                <label for="fastShipOnly" class="sortpanellabel semibold">Fast ship</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__line"></div>
        <div id="searchResults" style="display: table; width: 100%">
            <div ng-repeat="machine in machines" style="display: table-row">
                <div class="searchmachineresultcell" style="display: table-cell; width: 158px">
                    <a href="/admin/editmachine/{{machine.id}}" target="_blank"><img ng-src="{{machine.thumbnail?machine.thumbnail:'/Content/images/no-image-available.png'}}" class="machineimage" /></a>
                    <a href="/Machines/Index/{{machine.id}}" target="_blank" ng-show="machine.publishedtoweb"><label class="publicviewlabel">Public view</label></a>
                </div>
                <div class="searchmachineresultcell" style="display: table-cell; vertical-align: top">
                    <div>
                        <a href="/admin/editmachine/{{machine.id}}" target="_blank"><label class="categorylabel" ng-repeat="category in machine.categories"><span>{{category.name}}</span></label></a>
                    </div>
                    <div>
                        <a href="/admin/editmachine/{{machine.id}}" target="_blank"><label class="machinenamelabel">{{machine.name}}</label></a>
                    </div>
                    <div>
                        <label class="stocknumberlabel">Stock # {{machine.stocknumber}}</label>
                    </div>
                    <div>
                        <label class="machineparam">{{machine.kva}} KVA</label>
                        <label ng-show="{{machine.voltagedescription}}" class="machineparamdelimiter">/</label><label ng-show="{{machine.voltagedescription}}" class="machineparam">{{machine.voltagedescription}} V</label>
                        <label ng-show="{{machine.phasedescription}}" class="machineparamdelimiter">/</label><label ng-show="{{machine.phasedescription}}" class="machineparam">{{machine.phasedescription}} phase</label>
                        <label ng-show="{{machine.secondaryamps}}" class="machineparamdelimiter">/</label><label ng-show="{{machine.secondaryamps}}" class="machineparam">{{machine.secondaryamps}} A</label>
                    </div>
                    <div class="machinedescription">
                        {{machine.description}}
                    </div>
                    <div>
                        <div class="statusdescriptioncontainer">
                            <label class="semibold statusdescriptionlabel" ng-style="getStatusColor(machine.status)">{{machine.statusdescription}}</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="find-message-invisible" ng-class="{'find-message-visible':findMessageVisible}">Please enter your search criteria and click the Find button.</div>
        <div class="col-md-4 col-md-offset-4">
            <!--<pagination total-items="totalItems" items-per-page="itemsPerPage" previous-text="«" next-text="»" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm">

            </pagination>-->
        </div>
    </div>
    <div class="col-md-4 panel panel-default searchpanel" ng-keyup="searchCriteriaFieldsEnterKeyPressed($event)" tabindex="1">
        <div class="input-group searchkeywordscontainer">
            <span class="input-group-addon leftaddon"><img src="../../../Content/images/search-icon.png" /></span>
            <input type="text" class="form-control searchkeywords" ng-model="searchrequest.keywords">
            <span class="input-group-addon rightaddon"><img src="../../../Content/images/close-icon.png" ng-click="clearKeywords()" /></span>
        </div>

        <label class="control-label searchfieldlabel">Category</label>
        <tags-dropdown items="categories" ng-model="searchrequest.categories" btn-class="btn-default btn-block" placeholder="All categories" alt-placeholder="Select another category"></tags-dropdown>

        <label class="control-label searchfieldlabel">Voltage</label>
        <tags-dropdown items="voltages" ng-model="searchrequest.voltages" btn-class="btn-default btn-block" placeholder="All voltages" alt-placeholder="Select another voltage"></tags-dropdown>

        <label class="control-label searchfieldlabel">KVA</label>
        <div>
            <span>Between</span>
            <input type="text" class="form-control numeric" is-number ng-model="searchrequest.minkva">
        </div>
        <div>
            <span>and</span>
            <input type="text" class="form-control numeric" is-number ng-model="searchrequest.maxkva">
        </div>
        <!--<dropdown items="kvas" ng-model="searchrequest.kva" btn-class="btn-default btn-block searchfield"></dropdown>-->
        <label class="control-label searchfieldlabel">Phase</label>
        <dropdown items="phases" ng-model="searchrequest.phase" btn-class="btn-default btn-block searchfield"></dropdown>
        <div class="form-group">
            <div class="col-sm-4 nopaddingleft statuscolumn">
                <div class="checkbox text-left">
                    <input id="includeSold" name="includeScrapped" type="checkbox" ng-model="searchrequest.includeSold">
                    <label for="includeSold">Sold</label>
                </div>
            </div>
            <div class="col-sm-4 nopaddingleft statuscolumn">
                <div class="checkbox text-left">
                    <input id="includeScrapped" name="includeScrapped" type="checkbox" ng-model="searchrequest.includeScrapped">
                    <label for="includeScrapped">Scrapped</label>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <label class="control-label searchfieldlabel">Published</label>
        <dropdown items="publishedtowebstatuses" ng-model="searchrequest.publishedtowebstatus" btn-class="btn-default btn-block searchfield"></dropdown>
        <div class="form-group form-group-actions">
            <div>
                <button class="btn btn-primary btn-action" ng-click="doSearch()" ng-disabled="isBusy">Find</button>
                <button class="btn btn-link btn-action" ng-click="clearAll($event)" ng-disabled="isBusy">Clear all</button>
            </div>
        </div>
    </div>
</div>
<div class="row norightmargin">
    <div class="col-md-8 centeringcontainer">
        <pagination total-items="totalItems" items-per-page="itemsPerPage" previous-text="«" next-text="»" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm">

        </pagination>
    </div>
</div>
