﻿<ng-include src="'/Scripts/app/breadcrumbs.html'"></ng-include>
<h3 class="title semibold text-center">Edit machine</h3>
<div class="box">
    <div class="box__inner">
        <form class="form-horizontal" id="editMachineForm" name="editMachineForm">
            <div class="alert alert-success savemessage" role="alert" ng-show="isMachinChanged && !doFade">
                All changes successfully saved.
            </div>
            <div class="form-group">
                <div class="row buttonrow">
                    <button class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4" ng-click="updateMachine(editMachineForm.$valid)">Save changes</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    <dropdown btn-tabindex="1" isvalidatable="true" items="statuses" ng-change="onMachineParamChanged()" ng-model="machine.status" btn-class="btn-default btn-sm" type="split" placeholder="Select status"></dropdown>
                    <div><label class="error-message" ng-show="machine.status == null">This field is required and must be filled in</label></div>
                </div>
            </div>
            <div class="form-group">
                <label for="machineStock" class="col-sm-2 control-label">Stock #*</label>
                <div class="col-sm-10">
                    <input type="text" ng-class="{'fieldrequirederror': (editMachineForm.machineStock.$touched || submitted) && editMachineForm.machineStock.$error.required}" required ng-remote-validate="/api/machines/{{machineId}}/stocknumber" ng-remote-method="GET" ng-model="machine.stocknumber" class="form-control" id="machineStock" name="machineStock">
                    <label class="error-message" ng-show="(editMachineForm.machineStock.$touched || submitted) && editMachineForm.machineStock.$error.required">This field is required and must be filled in</label>
                    <label class="error-message" ng-show="editMachineForm.machineStock.$error.ngRemoteValidate">Stock number is already taken</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Category *</label>
                <div class="col-sm-5">
                    <tags-dropdown isnotvalid="isCategoriesNotValid" ng-change="onMachineParamChanged()" isvalidatable="true" items="categories" ng-model="machine.categoriesForBind" btn-class="btn-default btn-block" placeholder="Select category" alt-placeholder="Select another category"></tags-dropdown>
                    <!--<label class="error-message" ng-show="machine.categoriesForBind == null || machine.categoriesForBind.length ==0">This field is required and must be filled in</label>-->
                </div>
            </div>
            <div class="form-group">
                <label for="machineName" class="col-sm-2 control-label">Name *</label>
                <div class="col-sm-10">
                    <input ng-blur="onNameBlur()" type="text" ng-change="onMachineParamChanged()" ng-class="{'fieldrequirederror':nameIsNotValid}" ng-model="machine.name" class="form-control" id="machineName" name="machineName">
                    <label class="error-message" ng-show="nameIsNotValid">This field is required and must be filled in</label>
                </div>
            </div>
            <div class="form-group">
                <label for="machineDesc" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea type="text" rows="10" ng-change="onMachineParamChanged()" ng-model="machine.webdescription" class="form-control" id="machineDesc" name="machineDesc"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="uedFilePath" class="col-sm-2 control-label">UED Machine file path</label>
                <div class="col-sm-10">
                    <a href="tjsnowfilehandler://{{machine.uedfilepath}}"><input type="text" ng-model="machine.uedfilepath" ng-change="onMachineParamChanged()" class="form-control" id="uedFilePath" name="uedFilePath" style="cursor: pointer" /></a>
                </div>
            </div>
            <div class="form-group">
                <label for="p21link" class="col-sm-2 control-label">P21 Link</label>
                <div class="col-sm-10">
                    <a href="{{machine.p21itemid}}"><input type="text" ng-model="machine.p21itemid" ng-change="onMachineParamChanged()" class="form-control" id="p21link" name="p21link" style="cursor: pointer" /></a>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Photos</label>
                <div class="col-sm-10">
                    <button class="btn btn-primary btn-sm" data-ng-click="addImage()">Upload photos</button>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row" ui-sortable="sortableOptions" ng-model="machine.images">
                        <div data-ng-repeat="image in machine.images" class="col-md-3">
                            <div class="machinepreviewimagecontainer">
                                <img ng-src="{{image.url ? image.url : image.imageSrc}}" class="machinepreviewimage" />
                                <div class="row">
                                    <div ng-if="image.url == null && image.imageSrc!=null" class="col-md-8 filename"><a href ng-click="showImage(image.url ? image.url : image.imageSrc);">{{image.filename}}</a></div>
                                    <div ng-if="image.url" class="col-md-8 filename"><a href="{{image.url}}" target="_blank">{{image.filename}}</a></div>
                                    <div class="col-md-2"><img style="width: auto; cursor: pointer" src="../../../../Content/images/close-icon.png" ng-click="removeImage(image.filename);" /></div>
                                </div>
                                <div>
                                    <input id="isPublished" type="checkbox" ng-model="image.ispublished">
                                    <label for="isPublished" class="publishlabel">Publish</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="machineVideo" class="col-sm-2 control-label">Videos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="machineVideo" name="machineVideo" ng-model="currentVideoUrl" placeholder="Enter link to a Youtube video here ">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-sm" ng-click="addVideo()">Add video</button>
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div data-ng-repeat="video in machine.videos" class="col-md-3">
                            <div class="machinepreviewvideocontainer">
                                <iframe class="machinepreviewvideo" ng-src="{{video.url}}" frameborder="0" allowfullscreen=""></iframe>
                                <div class="row">
                                    <div class="col-md-8 filename"></div>
                                    <div class="col-md-2"><img src="../../../../Content/images/close-icon.png" ng-click="removeVideo(video.url);" style="width: 12px !important;cursor: pointer" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Publish To Web</label>
                <div class="col-xs-1">
                    <div class="checkbox text-left">
                        <input id="publishedtoweb" name="publishedtoweb" type="checkbox" ng-model="machine.publishedtoweb">
                        <label for="publishedtoweb"></label>
                    </div>
                </div>
                <div class="col-sm-9 text-left">
                    <a href="/Machines/Index/{{machine.id}}" target="_blank">public view</a>
                </div>
            </div>
            <div ng-click="isPrimaryCollapsed = !isPrimaryCollapsed" class="row">
                <div class="col-xs-1 expandarrowcontainer">
                    <img src="../../../../Content/images/arrow-right-icon.png" ng-show="isPrimaryCollapsed" class="expander-image" />
                    <img src="../../../../Content/images/arrow-down-icon.png" ng-show="!isPrimaryCollapsed" class="expander-image" />
                </div>
                <div class="col-md-4"><h4>Primary Information</h4></div>
            </div>
            <hr>

            <div collapse="isPrimaryCollapsed">
                <div>
                    <div class="form-group">
                        <label for="machineName" class="col-sm-2 control-label">KVA</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="3" allow-negative="false" ng-model="machine.kva" class="form-control" id="machineKva" name="machineKva">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Voltage</label>
                        <div class="col-sm-10">
                            <dropdown items="voltages" ng-model="machine.voltage" btn-class="btn-default btn-block" placeholder="Select voltage"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phase</label>
                        <div class="col-sm-10">
                            <dropdown items="phases" ng-model="machine.phase" btn-class="btn-default btn-block" placeholder="Select phase"></dropdown>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="machineThroat" class="col-sm-2 control-label">Throat depth</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" ng-model="machine.throatdepth" class="form-control" id="machineThroat" name="machineThroat">
                                <div class="input-group-addon">in</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineName" class="col-sm-2 control-label">Secondary amps</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.secamps" class="form-control" id="secAmps" name="secAmps">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="secVolts" class="col-sm-2 control-label">Secondary volts</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.secvolts" class="form-control" id="secVolts" name="secVolts">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineManufacturer" class="col-sm-2 control-label">Manufacturer</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.manufacturer" class="form-control" id="machineManufacturer" name="machineManufacturer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="model" class="col-sm-2 control-label">Model #</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.model" class="form-control" id="model" name="model">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serial" class="col-sm-2 control-label">Serial #</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.serial" class="form-control" id="serial" name="serial">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="initiation" class="col-sm-2 control-label">Initiation</label>
                        <div class="col-sm-10">
                            <dropdown items="initiations" ng-model="machine.initiation" btn-class="btn-default btn-block" placeholder="Select initiation"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fast Ship</label>
                        <div class="col-sm-10">
                            <div class="checkbox text-left">
                                <input id="machineFastShip" name="machineFastShip" type="checkbox" ng-model="machine.fastship">
                                <label for="machineFastShip"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-click="isCylinderSpecsCollapsed = !isCylinderSpecsCollapsed" class="row">
                <div class="col-xs-1 expandarrowcontainer">
                    <img src="../../../../Content/images/arrow-right-icon.png" ng-show="isCylinderSpecsCollapsed" class="expander-image" />
                    <img src="../../../../Content/images/arrow-down-icon.png" ng-show="!isCylinderSpecsCollapsed" class="expander-image" />
                </div>
                <div class="col-md-4"><h4>Cylinder Specs</h4></div>
            </div>
            <hr>

            <div collapse="isCylinderSpecsCollapsed">
                <div>
                    <div class="form-group">
                        <label for="airType" class="col-sm-2 control-label">Air Type</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.airtype" class="form-control" id="airType" name="airType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cylinderDiameter" class="col-sm-2 control-label">Cylinder Diameter</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="3" allow-negative="false" ng-model="machine.cylinderdiameter" class="form-control" id="cylinderDiameter" name="cylinderDiameter">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cylinderStroke" class="col-sm-2 control-label">Cylinder Stroke</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.cylinderstroke" class="form-control" id="cylinderStroke" name="cylinderStroke">
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="maxForce" class="col-sm-2 control-label"> Max Force</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="0" allow-negative="false" ng-model="machine.maxforce" class="form-control" id="maxForce" name="maxForce">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-click="isAdditionalMachineSpecsCollapsed = !isAdditionalMachineSpecsCollapsed" class="row">
                <div class="col-xs-1 expandarrowcontainer">
                    <img src="../../../../Content/images/arrow-right-icon.png" ng-show="isAdditionalMachineSpecsCollapsed" class="expander-image" />
                    <img src="../../../../Content/images/arrow-down-icon.png" ng-show="!isAdditionalMachineSpecsCollapsed" class="expander-image" />
                </div>
                <div class="col-md-4"><h4>Additional Machine Specs</h4></div>
            </div>
            <hr>

            <div collapse="isAdditionalMachineSpecsCollapsed">
                <div>
                    <div class="form-group">
                        <label for="tapSwitch" class="col-sm-2 control-label">Tap Switch</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.tapswitch" class="form-control" id="tapSwitch" name="tapSwitch">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineArm" class="col-sm-2 control-label">Arm Dia Lower</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.armdialower" class="form-control" id="machineArm" name="machineArm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineArmUpper" class="col-sm-2 control-label">Arm Dia Upper</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.armdiaupper" class="form-control" id="machineArmUpper" name="machineArmUpper">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="holderDiameter" class="col-sm-2 control-label">Holder Diameter</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="3" allow-negative="false" ng-model="machine.holderdiameter" class="form-control" id="holderDiameter" name="holderDiameter">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machinePlattenUpper1" class="col-sm-2 control-label">Platen Upper</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.platenupper" class="form-control" id="machinePlattenUpper1" name="machinePlattenUpper1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machinePlattenUpper2" class="col-sm-2 control-label">Platen Lower</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.platenlower" class="form-control" id="machinePlattenUpper2" name="machinePlattenUpper2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineTSlot" class="col-sm-2 control-label">T-slot Spacing</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.tslotspacing" class="form-control" id="machineTSlot" name="machineTSlot">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="control" class="col-sm-2 control-label">Control</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.control" class="form-control" id="control" name="control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="service" class="col-sm-2 control-label">Service</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.service" class="form-control" id="service" name="service">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-click="isSeamWelderCollapsed = !isSeamWelderCollapsed" class="row">
                <div class="col-xs-1 expandarrowcontainer">
                    <img src="../../../../Content/images/arrow-right-icon.png" ng-show="isSeamWelderCollapsed" class="expander-image" />
                    <img src="../../../../Content/images/arrow-down-icon.png" ng-show="!isSeamWelderCollapsed" class="expander-image" />
                </div>
                <div class="col-md-4"><h4>Seam Welder</h4></div>
            </div>
            <hr>

            <div collapse="isSeamWelderCollapsed">
                <div>
                    <div class="form-group">
                        <label for="headType" class="col-sm-2 control-label">Head Type</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.headtype" class="form-control" id="headType" name="headType">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upperDrive" class="col-sm-2 control-label">Upper Drive</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.upperdrive" class="form-control" id="upperDrive" name="upperDrive">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lowerDrive" class="col-sm-2 control-label">Lower Drive</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.lowerdrive" class="form-control" id="lowerDrive" name="lowerDrive">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wheelUpper" class="col-sm-2 control-label">Wheel Upper</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.wheelupper" class="form-control" id="wheelUpper" name="wheelUpper">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wheelLower" class="col-sm-2 control-label">Wheel Lower</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.wheellower" class="form-control" id="wheelLower" name="wheelLower">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-click="isInternalInfoCollapsed = !isInternalInfoCollapsed" class="row">
                <div class="col-xs-1 expandarrowcontainer">
                    <img src="../../../../Content/images/arrow-right-icon.png" ng-show="isInternalInfoCollapsed" class="expander-image" />
                    <img src="../../../../Content/images/arrow-down-icon.png" ng-show="!isInternalInfoCollapsed" class="expander-image" />
                </div>
                <div class="col-md-4"><h4>Internal Information (not available for publishing to web)</h4></div>
            </div>
            <hr>

            <div collapse="isInternalInfoCollapsed">
                <div>
                    <div class="form-group">
                        <label for="machineTSlot" class="col-sm-2 control-label">Internal Notes</label>
                        <div class="col-sm-10">
                            <textarea ng-change="onMachineParamChanged()" rows="10" type="text" ng-model="machine.internalnotes" class="form-control" id="machineInternalNotes" name="machineInternalNotes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="transformer" class="col-sm-2 control-label">Transformer</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.transformer" class="form-control" id="transformer" name="transformer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="machineDate" class="col-sm-2 control-label">Purchased<br>Date</label>
                        <div class="col-sm-10">
                            <div class="col-md-6 datepickercontainer">
                                <p class="input-group">
                                    <input name="datePurchased" id="datePurchased" type="text" ng-change="onMachineParamChanged()" class="form-control" datepicker-popup="{{format}}" ng-model="machine.purchaseddate" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[012])\.(0[1-9]|[12][0-9]|3[01])\.\d\d\d\d$" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default datepickerbutton" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <label class="error-message" ng-show="editMachineForm.datePurchased.$invalid">This field should be empty or has mm.dd.yyyy format</label>

                            </div>
                        </div>
                    </div>
                    <!--<div class="form-group">
                <label for="enteredDate" class="col-sm-2 control-label">Entered Date</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="machine.entereddate" class="form-control" id="enteredDate" name="enteredDate">
                </div>
            </div>-->
                    <div class="form-group">
                        <label for="purchasedfrom" class="col-sm-2 control-label">Purchased From</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.purchasedfrom" class="form-control" id="purchasedfrom" name="purchasedfrom">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="condition" class="col-sm-2 control-label">Condition</label>
                        <div class="col-sm-10">
                            <dropdown items="conditions" ng-model="machine.condition" btn-class="btn-default btn-block" placeholder="Select condition"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cost" class="col-sm-2 control-label">Cost</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="2" allow-negative="false" ng-model="machine.cost" class="form-control" id="cost" name="cost">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="freight" class="col-sm-2 control-label">Freight</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.freight" class="form-control" id="freight" name="freight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="feautures" class="col-sm-2 control-label">Features</label>
                        <div class="col-sm-10">
                            <textarea ng-change="onMachineParamChanged()" rows="10" type="text" ng-model="machine.feautures" class="form-control" id="feautures" name="feautures"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <dropdown items="locations" ng-model="machine.locationid" btn-class="btn-default btn-block" placeholder="Select location"></dropdown>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkedBy" class="col-sm-2 control-label">Checked By</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.checkedby" class="form-control" id="checkedBy" name="checkedBy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">Sell Price</label>
                        <div class="col-sm-10">
                            <input type="text" nks-only-number decimal-upto="2" allow-negative="false" ng-model="machine.price" class="form-control" id="price" name="price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="soldTo" class="col-sm-2 control-label">Sold To</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="machine.soldto" class="form-control" id="soldTo" name="soldTo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dateSold" class="col-sm-2 control-label">Date Sold</label>
                        <div class="col-sm-10">
                            <div class="col-md-6 datepickercontainer">
                                <p class="input-group">
                                    <input name="soldDate" id="soldDate" type="text" ng-change="onMachineParamChanged()" class="form-control" datepicker-popup="{{format}}" ng-model="machine.datesold" is-open="openedDateSold" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" aw-datepicker-pattern="^(0[1-9]|1[012])\.(0[1-9]|[12][0-9]|3[01])\.\d\d\d\d$" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default datepickerbutton" ng-click="openDateSold($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                                <label class="error-message" ng-show="editMachineForm.soldDate.$invalid">This field should be empty or has mm.dd.yyyy format</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Exclude from reconciliation</label>
                        <div class="col-sm-10">
                            <div class="checkbox text-left">
                                <input id="excludefromreconciliation" name="publishedtoweb" type="checkbox" ng-model="machine.excludefromreconciliation">
                                <label for="excludefromreconciliation"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success savemessage" role="alert" ng-show="isMachinChanged && !doFade">
                All changes successfully saved.
            </div>
            <div class="form-group">
                <div class="row buttonrow">
                    <button class="btn btn-lg btn-primary col-sm-4 col-sm-offset-4" ng-click="updateMachine(editMachineForm.$valid)">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<input type="file" id="imageUploader" multiple accept="image/*" style="display: none" />